<template>
    <el-dialog
        width="300"
        title="Adding document"
        :visible.sync="visible"
        :before-close="handleClose">
        <form @submit.prevent="submit">
            <div class="field">
                <input v-model="document.name" id="company-name" type="text" placeholder="Document name">
                <div class="error">{{ errors.documentName }}</div>
            </div>
            <div class="field">
                <el-date-picker value-format="yyyy-MM-dd" v-model="document.date" placeholder="Date added" class="input"></el-date-picker>
                <div class="error">{{ errors.documentDate }}</div>
            </div>
            <div class="field upload">
                <div class="input-file">
                    <div class="left">
                        <label for="file-input">Press to select file</label>
                        <input @change="processFile($event)" id="file-input" type="file" name="file" style="display: none;"/>
                    </div>
                    <div>
                        <div class="filename">{{ fileName }}</div>
                    </div>
                </div>
                <div class="error">{{ errors.documentFile }}</div>
            </div>

            <el-button native-type="submit" type="primary" class="button">Save changes</el-button>
        </form>
    </el-dialog>
</template>

<script>
export default {
    name:'AddFileModal',
    data() {
        return {
            document: {
                name: '',
                date: null,
                file: null
            },
            errors: {
                documentName: '',
                documentDate: '',
                documentFile: ''
            }
        }
    },
    props: {
        visible: {
            type: Boolean,
            default: false,
        },
        partnerId: {
            type: Number,
            default: 0
        }
    },
    computed: {
        fileName() {
            return this.document.file ? this.document.file.name : ''
        }
    },
    methods: {
        handleClose() {
            this.$emit('close');
        },
        processFile(event) {
            this.document.file = event.target.files[0]
        },
        submit() {
            if (!this.validate()) {
                return;
            }
            this.document.partner_id = this.partnerId
            this.$store.dispatch('documents/add', this.document)
                .then(documnet => {
                    this.$store.commit('partners/addDocument', documnet);
                    this.clearData();
                    this.$emit('close');
                })
                .catch(error => {
                    this.$notify({
                        title: 'Warning',
                        message: 'Failed to save document',
                        type: 'warning'
                    });
                });
        },
        validate() {
            let result = true;
            this.clearErrors();
            if (this.document.name.length === 0) {
                this.errors.documentName = 'Document name is required';
                result = false;
            }
            if (!this.document.date) {
                this.errors.documentDate = 'Document date is required';
                result = false;
            }
            if (!this.document.file) {
                this.errors.documentFile = 'Document file is required';
                result = false;
            }
            return result;
        },
        clearErrors() {
            this.errors.documentName = '';
            this.errors.documentFile = '';
            this.errors.documentDate = '';
        },
        clearData() {
            this.document.name = '';
            this.document.date = null;
            this.document.file = null;
        }
    }
}
</script>

<style scoped lang="scss">
    .dialog {
        width: 400px
    }
    form {
        padding:  20px;
    }
    input[type=text] {
        font-size: 13px;
        border: unset;
        outline: none;
        min-width: 200px;
        width: 100%;
        height: 44px;
        font-family: Gotham Pro;
        padding-left: 20px;
      }
    .input{
        width: 100%;
    }
    .input-file {
        display: flex;
        justify-content: space-between;
    }
    input:focus {
        box-shadow: 0 0 2px 1px rgba(221, 221, 221, 0.5);
    }
    .field {
        width: 100%;
        margin-bottom: 15px;
    }
    .field.upload {
        label {
            cursor: pointer;
            color: #e96c06;
        }
    }
    .error {
        color: #e96c06
    }
</style>
