<template>
  <div class="back">
    <span><i class="el-icon-arrow-left"></i></span>Back
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: 'BackIgnet'
    }
  }
}
</script>

<style lang="scss" scoped>
  .back {
    font-family: Gotham Pro;
    span {
      margin-right: 10px;
    }
  }
</style>
