<template>
  <div class="dashboard-desk">
    <div class="top">
      <div class="logo-block">
        <div class="icon">
          <img :src="logo" width="45" height="45">
        </div>
      </div>
      <el-menu
        :default-active="currentItem.index"
        class="el-menu-vertical-demo"
        text-color="#3a3d40"
        active-text-color="#e96c06"
        router
        @select="select">
        <div v-for="item in items" :key="item.index">
          <el-menu-item v-if="!item.permissions && !user['is_moderator']" class="my-item-class" :index="item.index">
            {{ item.label }}
          </el-menu-item>
          <el-menu-item v-else-if="user[item.permissions]" class="my-item-class" :index="item.index">
            {{ item.label }}
          </el-menu-item>
        </div>
        <div v-for="item in subItems" :key="item.index">
          <el-submenu v-if="!item.permissions" :index="item.index">
            <template slot="title">
              <span>{{item.label}}</span>
            </template>
            <el-menu-item v-for="it in item" :key="it.index" class="my-item-class" :index="it.index">
              {{ it.index }} 
            </el-menu-item>
          </el-submenu>
          <el-submenu v-else-if="user[item.permissions]" :index="item.index">
            <template slot="title">
              <span>{{item.label}}</span>
            </template>
            <el-menu-item v-for="it in item.items" :key="it.index" class="my-item-class" :index="it.index">
              {{ it.label }}
            </el-menu-item>
          </el-submenu>
        </div>

        <el-menu-item class="my-item-class" index="#" @click="logout">Logout</el-menu-item>
      </el-menu>
    </div>
    <div class="bottom">
      <div class="manager">
        <some-icon></some-icon>
        <span>{{ user.name }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import logo from '../assets/logo.png';
import SomeIcon from './ProfileIcon';

export default {
  name: "Dashboard",
  data() {
    return {
      logo
    }
  },
  computed: {
    user() {
      return this.$store.getters['auth/getUser']
    },
    items() {
      return this.$store.getters['menu/getItems']
    },
    subItems() {
      return this.$store.getters['menu/getSubitems']
    },
    currentItem() {
      return this.$store.getters['menu/getCurrent']
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push('/login')
        })
    },
    select(index) {
      if (index === '#') {
        this.$store.dispatch('menu/setCurrent', '/partners')
        return
      }
      this.$store.dispatch('menu/setCurrent', index)
    }
  },
  components: {
    SomeIcon
  }
}
</script>

<style lang="scss">
  .logo-block {
    padding-left: 12px;
    padding-right: 36px;
    padding-bottom: 40px;
  }
  .dashboard-desk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 37px 34px;
    background-color: #f7f7f7;
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 14px;
    .el-menu-vertical-demo {
      background-color: #f7f7f7;
      border-right: unset;
    }
    .my-item-class:hover {
      color: #e96c06;
      background-color: #f8e5d6;
      padding-left: 13px;
    }
  }
  .manager {
    display: flex;
    align-items: center;
    padding-left: 13px;
    svg {
      margin-right: 19px;
    }
  }
</style>
