<template>
  <div class="dashboard-mobile">
    <header>
      <img :src="logo" width="36" height="36" alt="">
      <div class="menu-header" @click="showHideMenu">
        <span :class="['mobile', {isActive: showBottom}]">{{currentItem.label}}</span> 
        <i class="el-icon-arrow-down" :class="{isActive: showBottom}"></i>
      </div>
      <i class="el-icon-plus" v-if="showAdd" @click="toAdd"></i>
    </header>
    <div class="collapse-dante" v-if="showBottom">
      <div class="main">
        <content>
          <el-menu
            default-active="/partners"
            class="column"
            width="100"
            text-color="#3a3d40"
            active-text-color="#e96c06"
            @select="select"
            router>
            <div v-for="item in items" :key="item.index">
              <el-menu-item v-if="!item.permissions && !user['is_moderator']" style="color: inherit" class="mobile" :index="item.index">{{ item.label }}</el-menu-item>
              <el-menu-item v-else-if="user[item.permissions]" style="color: inherit" class="mobile" :index="item.index">{{ item.label }}</el-menu-item>        
            </div>
            <div v-for="item in subItems" :key="item.index">
              <el-submenu class="mobile" v-if="!item.permissions && !user['is_moderator']" :index="item.index">
                <template slot="title">
                  <span>{{item.label}}</span>
                </template>
                <el-menu-item v-for="it in item" :key="it.index" class="mobile" :index="it.index">
                  {{ it.label }}
                </el-menu-item>
              </el-submenu>
              <el-submenu class="mobile" v-else-if="user[item.permissions]" :index="item.index">
                <template slot="title">
                  <span class="mobile">{{item.label}}</span>
                </template>
                <el-menu-item v-for="it in item.items" :key="it.index" class="mobile" :index="it.index">
                  {{ it.label }}
                </el-menu-item>
              </el-submenu>
            </div>
          </el-menu>
        </content>
        <footer>
          <profile-icon></profile-icon>
          <div class="admin-name">{{ user.name }}</div>
          <div @click="logout" class="logout">Log out</div>
        </footer>
      </div>
      <div class="layer">

      </div>
    </div>    
  </div>

</template>

<script>
import ProfileIcon from './ProfileIcon'
import logo from '../assets/logo.png'

export default {
  name: 'DashboardMobile',
  data() {
    return {
      logo,
      showBottom: false,
      addPath: ''
    }
  },
  computed: {
    user() {
      return this.$store.getters['auth/getUser']
    },
    currentItem() {
      return this.$store.getters['menu/getCurrent']
    },
    items() {
      return this.$store.getters['menu/getItemsWithoutAcive']
    },
    subItems() {
      return this.$store.getters['menu/getSubitems']
    },
    showAdd() {
      const result = this.$store.getters['menu/showAddButton'](this.$route.path)
      let show = false
      if (result && result.permissions) {
        show = this.$store.getters[result.permissions]
        this.addPath = result.to
      } else if (result) {
        show = true
        this.addPath = result.to
      }
      return show 
    }
  },
  methods: {
    showHideMenu() {
      this.showBottom = !this.showBottom;
    },
    logout() {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push('/login')
        })
    },
    select(index) {
      this.showBottom = false;
      this.$store.dispatch('menu/setCurrent', index)
    },
    toAdd() {
      this.$router.push(this.addPath)
    }
  },
  components: { ProfileIcon }
}
</script>

<style lang="scss" scoped>
  .dashboard-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Gotham Pro;
    font-weight: 500;
    background: #fff;
    font-size: 13px;
    header {
      display: grid;
      grid-template-columns: 36px 1fr 20px;
      align-items: center;
      color: #3a3d40;
      height: 36px;
      font-size: 16px;
      .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          margin-right: 13px;
        }
        .isActive{
          font-size: 13px;
          color: #e96c06;
        }
      }
      .el-icon-plus {
        font-size: 20px;
        font-weight: bold;
        color: #e96c06;
      }
    }
    content {
      display: flex;
      justify-content: center;
      padding-left: 40px;
      div{
        width: 130px;
      }
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .admin-name{
        font-size: 14px;
      }
      .logout{
        font-size: 14px;
        color: #e96c06;
      }
    }
  }
  .collapse-dante {
    height: calc(100% - 81px);
    display: grid;
    grid-auto-rows: auto 1fr;
    position: absolute;
    width: 100%;
    left: 0;
    top: 81px;
    z-index: 2;
    .main {
      padding: 0 20px 32px 20px;
      background: #fff;
    }
    .layer {
      width: 100%;
      background: rgb(64, 63, 63);
      opacity: 0.4;
    }
  }
  @media screen and(min-width: 726px) {
    .dashboard-mobile{
      header{
        .menu-header{
          justify-content: flex-start;
          padding: 0 64px;
        }
      }
      content{
        justify-content: flex-start;
        padding: 0 88px;
      }
      footer{
        display: grid;
        grid-template-columns: 36px 1fr auto;
        .admin-name{
          padding: 0 64px;
        }
      }
    }
  }
</style>
