<template>
  <div id="doc-add">
    <content>
      <div class="upload_block"> 
        <el-button size="small" type="primary" @click="$emit('click')">Add document</el-button>
      </div>
       
    </content>
  </div>
</template>

<script>
export default {
  name: 'DocumentsAdd',
  data() {
    return {
      fileList: []
    }
  },
  props: {
    title: {
      type: String,
      default() {
        return ''
      }
    },
    docList: {
      type: Array,
      default() {
        return []
      }
    }
  },
  computed: {
    headers() {
      const headers = {
        Authorization: axios.defaults.headers.common.Authorization
      }

      return headers
    }
  },
  methods: {
    handleSuccess(response, file, fileList) {
      this.$store.commit('documents/setFiles', fileList)
    },
    handleRemove(file, fileList) {
      this.$store.commit('documents/setFiles', fileList)
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`Delete ${ file.name }？`)
    }
  }
}
</script>

<style lang="scss" scoped>

  .sub-title {
    margin: 45px 0 15px 0;
    font-weight: bold;
    font-size: 14px;
  }

  .upload_block {
    width: 200px;
  }

</style>
