<template>
  <div>
    <el-table :data="resultData">
      <slot></slot>
    </el-table>
    <div class="block">
      <el-pagination
        v-if="data.length > 100"
        background
        layout="prev, pager, next"
				:page-size="pageSize"
        :total="totalPages"
        @current-change="setCurrentPage">
      </el-pagination>
		</div>
  </div>
</template>

<script>
import TableMixin from './mixins/table-mixin'

export default {
  props: {
    data: {
      type: Array,
      default() {
        return []
      }
    }
  },
  mixins: [
    TableMixin
  ]
}
</script>

<style scoped lang="scss">
  .block{
    margin-top: 25px;
  }
</style>
