<template>
    <div class="head" :class="[!hasBack && !showTitleInMobile && !showRightBlockInMobile ? 'mob-disable' : '']">
        <div class="name">
            <div @click="back" class="back" v-if="hasBack">
              <back-ignet></back-ignet>
            </div>
            <div :class="[ !showTitleInMobile ? 'mob-disable' : '', 'title']">
              {{title}}
            </div>
        </div>
        <div :class="[ !showRightBlockInMobile ? 'mob-disable' : '', 'slot']">
          <slot name="right-block"></slot>
        </div>
    </div>
</template>

<script>
import BackIgnet from './BackIgnet'
export default {
    name: 'IgnetHeader',
    data() {
        return {
          textBack: '< Back',
        }
    },
    methods: {
      back() {
        this.$router.push(this.backUrl)
      }
    },
    props: {
        title: {
            type: String,
            default() {
              return ''
            }
        },
        showTitleInMobile: Boolean,
        showRightBlockInMobile: Boolean,
        hasBack: {
            type: Boolean,
            default() {
                return false
            }
        },
        backUrl: {
          type: String,
          default() {
            return '/'
          }
        }
    },
    components: {
      BackIgnet
    }
}
</script>

<style lang="scss" scoped>
    .head{
      font-family: Gotham Pro;
      min-height: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 500;
      .name{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          .back{
              color: #e96c06;
              margin-right: 28px;
              font-size:14px;
              cursor: pointer;
          }
      }
    }
    .title_mobile{
      display: none;
    }
    @media screen and (max-width: 768px) {
    .mob-disable {
      display: none;
    }
    .head{
      align-items: flex-start;
      height: 56px;
      .name{
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        font-size: 18px;
        .back{
          height: 11px;
          margin-bottom: 23px;
        }
        .title{
          display: block;
          height: 16px;
        }
        .mob-disable {
          display: none;
        }
      }
    }
   
  }
</style>
