<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
    <defs>
        <circle id="a" cx="20" cy="20" r="20"/>
    </defs>
    <g fill="none" fill-rule="evenodd">
        <mask id="b" fill="#fff">
            <use xlink:href="#a"/>
        </mask>
        <use fill="#D8D8D8" fill-rule="nonzero" xlink:href="#a"/>
        <g fill="#8B8989" fill-rule="nonzero" mask="url(#b)">
            <path d="M20 22c-2.76 0-5-2.258-5-5.008S17.24 12 20 12s5 2.227 5 4.992A5.005 5.005 0 0 1 20 22zM11.635 29c-.354 0-.635-.294-.635-.666 0-3.5 2.72-6.334 6.044-6.334h5.912C26.296 22 29 24.85 29 28.334c0 .372-.28.666-.635.666h-16.73z"/>
        </g>
    </g>
  </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>
