<template>
    <div class="qrc-module">
        <div class="qrc">
            <a :href="link" :download="fileName">
                <div ref="qrc" id="qrc" v-html="qrCode"></div>
                <span class="link">download</span>
            </a>
        </div>
        <div class="info">
            <div class="info-item hash-code">
                <div class="bold">Hash:</div>{{ data }}
            </div>
            <div class="info-item status">
                <div class="bold">Status:</div>{{ getStatus }}
            </div>
            <div class="info-item type">
                <div class="bold">Type:</div>{{computedReferal}} 
            </div>
            <div class="info-item deep-link">
                <div class="bold">Deep Link:</div><a href="www.safor.com/rf-2309">www.safor.com/rf-2309</a>
            </div>
        </div>
    </div>
</template>

<script>
import QRCode from 'qrcode-svg';


export default {
    name: 'QRCModule',
    props: {
        data: {
            type: String,
            default: ''
        },
        width: {
            type: Number,
            default: 100
        },
        height: {
            type: Number,
            default: 100
        },
        padding: {
            type: Number,
            default: 0
        },
        status: {
            type: Number,
            default: 0
        },
        type: {
            type: String,
            default: 'referal'
        },
        qrcName: {
            type: String,
            default: ''
        }
    },
    computed: {
        qrCode() {
            return new QRCode({
                content: this.data,
                padding: this.padding,
                width: this.width,
                height: this.height,
                color: "#000000",
                background: "#ffffff",
                ecl: "H"
            }).svg();
        },
        link() {
            let blob = new Blob([this.qrCode], {type: "image/svg+xml"});
            return URL.createObjectURL(blob); 
        },
        fileName() {
            return `${this.data}.svg`
        },
        getStatus() {
            return this.status ? 'Disabled'  : 'Enabled';
        },
        computedReferal() {
            let result = '';
            switch(this.type) {
                case 'referal': result = 'Referal'; break;
                case 'virtual': result = 'Virtual'; break;
                case 'employer': result = 'Employer'; break;
                case 'reseller': result = 'Reseller'; break;
            }
            return result;
        },
    }

}
</script>

<style scoped lang="scss">
    .qrc-module {
        // background: red;
        display: flex;
        margin-bottom: 15px;
        font-family: Gotham Pro;
        .qrc {
            text-align: center;
        }
        .info {
            padding: 15px;
            .info-item {
                font-size: 13px;
                display: flex;
                justify-content: flex-start;
                .bold {
                    margin-right: 10px;
                    font-weight: 500;
                    width: 100px
                }
            }
        }
        a {
            color: #e96c06;   
        }
    }
    
</style>
