<template>
    <el-button :class="buttonClass" @click="onClick" @submit="onSubmit">
        <slot></slot>
    </el-button>
</template>

<script>
    export default {
        name: "SaforButton",
        props: {
            onClick: {
                type: Function,
                required: true
            },
            onSubmit: {
                type: Function,
                default: () => {
                    console.log('submit')
                }
            },
            type: {
                type: String,
                default: 'normal',
                validator: function (value) {
                    return ['white', 'normal'].indexOf(value) !== -1
                }
            }
        },
        computed: {
            buttonClass() {
                if (this.type === 'white') {
                    return ['button', 'white'];
                }else if (this.type === 'normal') {
                    return ['button']
                }
            }
        }
    }
</script>

<style scoped>
    .button {
        border-radius: 4px;
        background-color: #e96c06;
        width: 209px;
        height: 42px;
        font-family: Gotham Pro;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        text-align: center;
        color: #ffffff;
    }
    .white {
        color: #e96c06;
        background-color: #ffffff;
    }
</style>