<template>
    <div id="ticket-item">
        <div class="photo"><img width="200" height="200" :src="ticketInfo.photo" alt="User photo"></div>
        <div class="right-block">
            <div class="fio">
                <div>
                    <div class="label-fio">First name: </div>
                    <div class="first-name">{{ ticketInfo.firstName }}</div>
                </div>
                <div>
                    <div class="label-fio">Last name: </div>
                    <div class="middle-name">{{ ticketInfo.middleName }}</div>
                </div>
                <div>
                    <div class="label-fio">Second name: </div>
                    <div class="last-name">{{ ticketInfo.lastName }}</div>
                </div>
            </div>
            <div class="buttons">
                <div class="reject-buttons" v-if="!isProcessed">
                    <safor-button class="ticket-button" type="white" :on-click="rejectFullName">{{ badFullName }}</safor-button>
                    <safor-button class="ticket-button" type="white" :on-click="rejectPhoto">{{ badPhoto }}</safor-button>
                    <safor-button class="ticket-button" type="white" :on-click="rejectAll">{{ badAll }}</safor-button>
                </div>
                <safor-button class="ticket-button" :on-click="cancel" v-if="isProcessed">Cancel</safor-button>
                <safor-button class="ticket-button" :on-click="verify" v-else>Verify</safor-button>

            </div>
        </div>
        <verify-confirm :visible="showVerify" @close="closeVerify" @confirm="confirmVerify"></verify-confirm>
        <reject-confirm :visible="showReject" :reason="activeReason" @close="closeReject" @confirm="confirmReject"></reject-confirm>
        <cancel-confirm :visible="showCancel" @close="closeCancel" @confirm="confirmCancel"></cancel-confirm>
    </div>
</template>

<script>
    import SaforButton from './SaforButton';
    import VerifyConfirm from './TicketVerifyConfirm';
    import RejectConfirm from './TicketRejectConfirm';
    import CancelConfirm from './TicketCancelConfirm'

    export default {
        name: "TicketItem",
        data() {
            return {
                showVerify: false,
                showReject: false,
                showCancel: false,
                badFullName: 'Invalid full name',
                badPhoto: 'Invalid photo',
                badAll: "Name does't match the photo",
                activeReason: '',
            }
        },
        computed: {
            isProcessed() {
                return this.itemStatus === 'processed';
            }
        },
        props: {
            /**
             * ticketInfo
             *
             * {string} firstName
             * {string} middleName
             * {string} lastName
             * {string} photo
             */
            ticketInfo: Object,
            ticketId: Number,
            itemStatus: String
        },
        methods: {
            verify() {
                this.showVerify = true;
            },
            cancel() {
                this.showCancel = true;
            },
            reject(reason) {

                this.activeReason = reason;
                this.showReject = true;
            },
            rejectFullName(){
                this.reject(this.badFullName);
            },
            rejectPhoto() {
                this.reject(this.badPhoto);
            },
            rejectAll() {
                this.reject(this.badAll);
            },
            closeVerify() {

                this.showVerify = false;
            },
            closeReject() {

                this.showReject = false;
            },
            closeCancel() {

                this.showCancel = false;
            },
            confirmVerify() {

                this.closeVerify();
                this.$store.dispatch('tickets/verify', { reason: this.activeReason, ticketId: this.ticketId });
            },
            confirmReject() {

                this.closeReject();
                this.$store.dispatch('tickets/reject', { reason: this.activeReason, ticketId: this.ticketId});
            },
            confirmCancel() {

                this.closeCancel();
                this.$store.dispatch('tickets/cancel', {ticketId: this.ticketId});
            }

        },
        components: {
            SaforButton, VerifyConfirm, RejectConfirm, CancelConfirm
        }

    }
</script>

<style lang="scss" scoped>

    #ticket-item {
        font-family: "Gotham Pro";
        display: flex;
    }

    .right-block {
        width: 60%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fio {
        padding: 15px;
        div {
            display: flex;
            justify-content: space-between;
            .label-fio {
                font-weight: 500;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        .reject-buttons {
            margin-right: 10px;
        }
    }

    #ticket-item .buttons .ticket-button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 525px) {
        #ticket-item {
            flex-direction: column;
            align-items: center;
        }
        .buttons {
            justify-content: center;
        }
        #ticket-item .buttons .ticket-button {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1025px){
        #ticket-item .buttons .ticket-button {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
        }
    }

</style>