<template>
    <el-dialog
            title="Reject"
            :visible.sync="visible"
            width="320px"
            :before-close="close">
        <div class="margin-item">
            <span>Would you like to cancel your decision?</span>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="close">Cancel</el-button>
            <el-button type="primary" @click="$emit('confirm')">Confirm</el-button>
        </span>
    </el-dialog>
</template>

<script>
    export default {
        name: "VerifyConfirm",
        data() {
            return {
                invalidFullName: false,
                invalidPhoto: false,
                invalidNameAndPhoto: false,
            }
        },
        props: {
            visible: {
                type: Boolean,
                default: false,
            }
        },
        methods: {
            close() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>
    .margin-item {
        margin-bottom: 10px;
    }
</style>