<template>
    <div>
        <el-dialog
                title="Confirm"
                :visible.sync="visible"
                width="320px"
                :before-close="close">
            <span>Do you really want to confirm users data?</span>
            <span slot="footer" class="dialog-footer">
            <el-button @click="close">Cancel</el-button>
            <el-button type="primary" @click="$emit('confirm')">Confirm</el-button>
        </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "TicketRejectConfirm",
        props: {
            visible: {
                type: Boolean,
                default: false,
            }
        },
        methods: {
            close() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>

</style>