<template>
  <div id="admin-add">
    <div class="line">
      <ignet-header :title="title" has-back back-url="/admins">
      </ignet-header>
    </div>
    <content>
      <form @submit.prevent="submit" class="admin-add__form">
      
        <div class="field">
          <input v-if="is_edit" id="email" type="text" v-model="data.login" placeholder="Login" readonly>
          <input v-else id="email" type="text" v-model="data.login" placeholder="Login">
          <div class="error">
            <span v-for="item in errors.login" :key="item.id">
              {{ item }}
            </span> 
          </div>
        </div>
      
        <div class="field">
          <input v-if="is_edit" id="name" type="text" v-model="data.name" placeholder="Name" readonly>
          <input v-else id="name" type="text" v-model="data.name" placeholder="Name">
          <div class="error">
            <span v-for="item in errors.name" :key="item.id">
              {{ item }}
            </span> 
          </div>
        </div> 
      
        <div class="field">
          <input id="phone" type="text" v-model="data.phone" placeholder="Phone">
          <div class="error">
            <span v-for="item in errors.phone" :key="item.id">
              {{ item }}
            </span> 
          </div>
        </div>

        <div class="field changePass" v-if="is_edit">
          <a href="#" @click.prevent="clickChangePass">Change password</a>
        </div>
      
        <div class="field" v-if="changePass">
          <input id="password" type="password" v-model="data.password" placeholder="Password">
          <div class="error">
            <span v-for="item in errors.password" :key="item.id">
              {{ item }}
            </span> 
          </div>
        </div>
      
        <div class="field" v-if="changePass">
          <input id="password_confirmation" type="password" v-model="data.password_confirmation" placeholder="Password confirmation">
        </div>
      
        <div class="sub-title">Permissions</div>

        <div class="field field-radio-group">
          <label for="disabled" class="form-field__label">Disabled</label>
          <el-radio-group v-model="data.disabled" fill="#e96c06" text-color="#e96c06" >
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="super" class="form-field__label">Superadmin</label>
          <el-radio-group v-model="data.super">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="addpartner" class="form-field__label">Add new partners</label>
          <el-radio-group v-model="data.addpartner">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="editpartner" class="form-field__label">Edit partners</label>
          <el-radio-group v-model="data.editpartner">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="blockpartner" class="form-field__label">Block partner</label>
          <el-radio-group v-model="data.blockpartner">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="adddocs" class="form-field__label">Add docs</label>
          <el-radio-group v-model="data.adddocs">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
        
        <div class="field field-radio-group">
          <label for="viewbalance" class="form-field__label">View balance</label>
          <el-radio-group v-model="data.viewbalance">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>
      
        <div class="field field-radio-group">
          <label for="acceptbills" class="form-field__label">Accept bills</label>
          <el-radio-group v-model="data.acceptbills">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>

        <div class="field field-radio-group">
          <label for="viewbills" class="form-field__label">View bills</label>
          <el-radio-group v-model="data.viewbills">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>

        <div class="field field-radio-group">
          <label for="disabledocs" class="form-field__label">Disable docs</label>
          <el-radio-group v-model="data.disabledocs">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>

        <div class="field field-radio-group">
          <label for="logaccess" class="form-field__label">Log access</label>
          <el-radio-group v-model="data.logaccess">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>

        <div class="field field-radio-group">
          <label for="is_moderator" class="form-field__label">Moderator</label>
          <el-radio-group v-model="data.is_moderator">
            <el-radio :label="1">Yes</el-radio>
            <el-radio :label="0">No</el-radio>
          </el-radio-group>
        </div>

        <div v-if="is_edit" class="audits">
          <div class="sub-title audits__sub_title">Audits</div>

            <el-table
              :data="data.audits"
              empty-text="No data">
              <el-table-column
                prop="date"
                label="Date"
                sortable>
                <template slot-scope="scope">
                  {{ scope.row.date }}
                </template>
              </el-table-column>
              <el-table-column
                prop="ip"
                label="IP">
                <template slot-scope="scope">
                  {{ scope.row.ip }}
                </template>
              </el-table-column>
            </el-table>

        </div>
        
        <el-button native-type="submit" class="button">{{ btnVal }}</el-button>
      </form>

    </content>
  </div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader'

export default {
  name: 'Admin',
  components: {
    IgnetHeader
  },
  data() {
    return {
      default: {
        id: '',
        login: '',
        name: '',
        password: '',
        password_confirmation: '',
        phone: '',
        disabled: 0,
        super: 0,
        addpartner: 0,
        editpartner: 0,
        blockpartner: 0,
        adddocs: 0,
        viewbalance: 0,
        acceptbills: 0,
        viewbills: 0,
        disabledocs: 0,
        logaccess: 0,
        is_moderator: 0
      },
      changePass: true
    }
  },
  created() {
    if (this.is_edit) {
      this.$store.dispatch('admins/initCurrent')
      this.changePass = false
    }
  },
  computed: {
    is_edit() {
      let id      = this.$route.params.id
      let is_edit = (id) ? true : false
      return is_edit
    },
    title() {
      return (this.is_edit) ? 'Edit user' : 'Add new user'
    },
    btnVal() {
      return (this.is_edit) ? 'Save' : 'Add new user'
    },
    data() {
      if (this.is_edit) {
        const data = this.$store.getters['admins/getCurrentData'] 

        return data ? data : {}
      } else {
        return this.default
      }
    },
    errors() {
      const errors = this.$store.getters['admins/getErrors'] 
      return errors ? errors : {}
    }
  },
  methods: {
    submit() {

      if (this.is_edit) {
        let id = this.$route.params.id
        this.$store.dispatch('admins/update', {id, data: this.data})
                .then((resp) => {
                  this.$notify({
                    title: 'Success',
                    message: 'User was updated',
                    type: 'success'
                  });
                })
                .catch((err) => {
                  let data = (err.data) ? err.data : [];
                  this.$notify({
                    title: 'Warning',
                    message: 'User was not updated',
                    type: 'warning'
                  });
                });
      } else {
        this.$store.dispatch('admins/add', this.data)
                .then((resp) => {
                  this.$notify({
                    title: 'Success',
                    message: 'User was added',
                    type: 'success'
                  });
                })
                .catch((err) => {
                  let data = (err.data) ? err.data : [];
                  this.$notify({
                    title: 'Warning',
                    message: 'User was not added',
                    type: 'warning'
                  });
                });
      }
    },
    clickChangePass() {
      this.changePass = ! this.changePass
    }
  }
}
</script>

<style lang="scss" scoped>

  .admin-add__form {
    margin-top: 40px;
  }

  .sub-title {
    width: 83px;
    height: 12px;
    margin: 30px 0;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #3a3d40;
  }

  form .field {
    margin-bottom: 20px;
  }

  .field input {
    width: 280px;
    height: 44px;
    border-radius: 4px;
    background-color: #f9f9fa;
    border: none;
    text-indent: 21px;
    margin-bottom: 2px;
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #989898;
  }

  .field .form-field__label {
    min-width: 115px;
    height: 11px;
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #3a3d40;
  }

  .field-radio-group {
    padding: 0;
    margin-bottom: 30px;
  }

  .field /deep/ .el-radio {
    margin-right: 43px;
  }

  .field label /deep/ .el-radio__label {
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #6b6b6b;
  }

  .changePass {
    margin-bottom: 15px;
  }

  .error {
    color: #e96c06;
  }

  .error span {
    display: block;
  }

  .button {
    border-radius: 4px;
    background-color: #e96c06;
    width: 209px;
    height: 42px;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
  }

  .el-radio {
    margin-left: 15px;
  }

  a {
    color: #e96c06;
  }

  .audits {
    margin-bottom: 40px;
  }

  .audits__sub_title {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 425px) {
    .field-radio-group {
      padding: 0;
      width: 280px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }

    .field /deep/ .el-radio {
      margin-right: 0px;
    }
  }

  @media only screen and (max-width: 320px) {
    .admin-add__form {
      margin-top: 20px;
    }
   
    .button {
      margin-top: 20px;
    }
  }
</style>
