<template>
  <div id="all-admins">
     <ignet-header class="header" title="Admins">
      <template slot="right-block">
        <el-button class="button-add" @click="toAdd">+ Add admin</el-button>
      </template>
    </ignet-header> 
    <el-select v-model="filter" placeholder="Select">
      <el-option
        v-for="item in filters"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    <el-table
      :data="resultData"
      :row-style="rowStyles"
      empty-text="No data"
      @row-click="rowClick"
			@sort-change="sortChange">
      <el-table-column
        prop="email"
        label="Login"
        sortable>
        <template slot-scope="scope">
          {{ scope.row.login }}
        </template>
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        sortable>
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column
        prop="phone"
        label="Phone">
        <template slot-scope="scope">
          {{ scope.row.phone }}
        </template>
      </el-table-column>
      <el-table-column
        width="180px"
        prop="status"
        label="Status">
        <template slot-scope="scope">
          <p class="statuses" v-html="getStatuses(scope.row)"></p>
        </template>
      </el-table-column>
    </el-table>

		<div class="block">
      <el-pagination
        v-if="data.length > 100"
        background
        layout="prev, pager, next"
				:page-size="pageSize"
        :total="totalPages"
        @current-change="setCurrentPage">
      </el-pagination>
		</div>
  </div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader'
import TableMixin from "../components/mixins/table-mixin";

export default {
  name: 'AdminsList',
  components: {
    IgnetHeader
  },
  mixins: [TableMixin],
  data() {
    return {
      rowStyles: {
        cursor: 'pointer'
      },
      filter: 0,
      filters: [
        {
          value: 'all',
          label: 'All',
        },
        {
          value: 1,
          label: 'Disabled',
        },
        {
          value: 0,
          label: 'Active',
        }
      ]
    }
  },
  created() {
    this.$store.dispatch('admins/initData')
  },
  computed: {
    data() {
      return this.$store.getters['admins/getDataByFilter'](this.filter)
    },
  },
  methods: {
    rowClick(row, event, column) {
      this.$router.push(`/admins/edit/${row.id}`)  
    },
    toAdd() {
      this.$router.push('/admins/add/')
    },
    getStatuses: function (row) {

      let statuses = ''

      if ( ! row.disabled) {
        statuses = '<span class="active">Active</span>'
      }

      if (row.super) {
        statuses += ' <span class="super">Superadmin</span>'
      }

      return statuses
    }
  },
 
}
</script>

<style lang="scss" scoped>

  .header {
    margin-bottom: 45px;
  }
  #all-admins /deep/ .el-pagination {
  font-family: Gotham Pro;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  }
  #all-admins /deep/ .el-table th {
    font-family: Gotham Pro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #989898;
  }
  #all-admins /deep/ .el-table td {
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
  }
 
  #all-admins /deep/ .el-table td .statuses span {
    height: 22px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: rgba(196, 196, 196, 0.27);
    font-family: Gotham Pro;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
  }
  #all-admins /deep/ .el-table td .active {
    color: #e96c06;
  }
  #all-admins /deep/ .el-table td .super {
    color: #3e3c3c;
  }
  .button-add {
    width: 171px;
    height: 42px;
    border-radius: 4px;
    background-color: #e96c06;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
  }
  .block {
    margin-top: 25px;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active,
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    background-color: #e96c06;
  }
  .el-pager li.active {
    color: #e96c06;
    cursor: default;
  }
  @media only screen and (max-width: 768px) {
    .button-add{
      display: none;
    }
    #all-admins /deep/ .el-table td .statuses  {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #all-admins /deep/ .el-table td .statuses span  {
      margin-bottom: 5px;
      text-align: center;
    }
  }
</style>
