<template>
    <div id="auth">
        <div class="logo">
          <img :src="logo">
        </div>
        <form @submit.prevent="submit">
        <div class="input email">
            <label for="email">Your email</label>
            <el-input placeholder="manager3@safor.com" v-model="user.login" label="" id="email"></el-input>
        </div>
        <div class="input password">
            <label for="password">Password</label>
            <el-input placeholder="Something secure" type="password" id="password" v-model="user.password"></el-input>    
        </div>
        <el-button native-type="submit" class='button'>Login</el-button>
        </form>
        <div class="forgot">
            Forgot your password?
        </div>
    </div>
</template>

<script>
import logo from '../assets/logo-auth.png'

export default {
    name: 'Auth',
    data() {
        return {
            user: {
                login: '',
                password: ''
            },
            logo: logo,
        }
    },
    methods: {
        submit() {
          this.$store.dispatch('auth/login', this.user)
            .then((resp) => {
                if (!resp.data.user.is_moderator) {
                    this.$router.push('/partners')
                } else {
                    this.$router.push('/')
                }
            })
            .catch(() => {
                this.$notify({
                    title: 'Warning',
                    message: 'Invalid email or password',
                    type: 'warning'
                })
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    #auth {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;

      .logo {
        margin: 44px 0;
      }

      .forgot {
        margin: 24px 0;
        font-family: Gotham Pro;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #787878;
      }
    }

    #auth /deep/ #email,
    #auth /deep/ #password {
      border: none;
      border-radius: 0px;
      width: 209px;
      border-bottom: 1px solid #e1e1e1;
      font-family: Gotham Pro;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.1px;
      color: #989898;
    }
    form {
      width: 266px;
      min-height: 275px;
      padding: 28px 27px 33px 30px;
      background-color: #fff;
      
      label {
        margin-bottom: 15px;
        font-family: Gotham Pro;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #3a3d40;
      }

      .input.email{
        margin-bottom: 41px;
      }
      
      .input.password{
        margin-bottom: 27px;
      }

      .button{
        width: 209px;
        height: 42px;
        background: #e96c06;
        font-family: Gotham Pro;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #ffffff;
      }
    }
    @media only screen and (max-width: 320px) {
      form {
        width: 320px;
        padding: 28px 54px 33px 57px;
      }
    }
    
</style>
