<template>
    <div id="partner">
        <ignet-header :title="data.name"
                      show-title-in-mobile
                      show-right-block-in-mobile
                      has-back back-url="/partners">
            <template slot="right-block">
                <router-link v-if="$store.getters['auth/isEditPartner']" class="edit"
                             :to="`/edit/partner/${$route.params.id}`">
                    Edit profile
                </router-link>
            </template>
        </ignet-header>
        <div class="statuses">
            <div v-if=" ! data.disabled" class="is-active">
                Active
            </div>
            <div v-for="item in ptypes" :key="item.id" class="is-vip">
                {{ item.kind | toUpper }}
            </div>
            <div v-if="data.is_sale" class="is-vip">
                Sale
            </div>
        </div>
        <div class="content">
            <div class="info">
                <div class="created">
                    Created: {{data.created_at}}
                </div>
                <div class="amou">
                    Minimum amount for withdrawal: <span>{{ data.paylevel }}</span>
                </div>
                <div class="address">
                    {{ data.address }}
                </div>
                <div class="dich">
                    {{data.bank}}, SWIFT CODE/BIC: {{data.swift}}, MFO {{data.mfo}}, {{data.account}}
                </div>
                <div class="contact">
                    Contact: <span>{{ data.contact }}</span>
                </div>
                <div class="base">
                    Base: <span>{{ data.base }}</span>
                </div>
                <div class="signer">
                    Signer: <span>{{ data.signer }}</span>
                </div>
                <div class="safor-email">
                    {{ data.email }}
                </div>
                <div class="phone">
                    {{ data.phone }}
                </div>
                <div class="site">
                    {{ data.website }}
                </div>
                <div class="manager-name">
                    Manager: <span>{{ managerName }}</span>
                </div>
            </div>
            <div class="bottom">
                <div class="table paymants" v-if="$store.getters['auth/isViewBalance']">
                    <header>QRCodes</header>
                    <el-collapse class="collapse-dante">
                        <el-collapse-item v-for="qrc in data.qrcs" :key="qrc.id" :name="qrc.id">
                            <template slot="title">
                                {{ qrc.name }}
                            </template>
                            <qrc-module :data="qrc.code" :status="qrc.disabled" :type="qrc.ptype_id.kind"></qrc-module>
                        </el-collapse-item>
                    </el-collapse>
                    <header>Payments</header>
                    <div class="filters">
                        <div @click="filter='in'" :class="[ 'incoming', { active: filter === 'in' } ]">
                            Incoming
                        </div>
                        <div @click="filter='out'" :class="[ 'outcoming', { active: filter === 'out' } ]">
                            Outgoing
                        </div>
                    </div>
                    <ignet-table :data="dataPayments">
                        <el-table-column label="Amount" prop="currency" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.amount }} {{ scope.row.currency }}
                            </template>
                        </el-table-column>
                        <el-table-column label="QRC" prop="qrc" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.qrc }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Date" prop="date" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.created_at }}
                            </template>
                        </el-table-column>
                    </ignet-table>
                </div>
                <div class="table documents">
                    <header>
                        Documents
                    </header>
                    <ignet-table :data="dataDocuments">
                        <el-table-column label="Name" prop="name" sortable>
                            <template slot-scope="scope">
                                <a :href="'data:application/octet-stream;base64,' + encodeURI(scope.row.path)" :download="scope.row.name">{{ scope.row.name }}</a>
                            </template>
                        </el-table-column>
                        <el-table-column label="Document Date" prop="documnetDate" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.date }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Date (in system)" prop="dateInSystem" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.created_at }}
                            </template>
                        </el-table-column>
                    </ignet-table>
                </div>
                <div class="filters clients">

                </div>
                <el-collapse>
                    <el-collapse-item title="Show all clients" name="1">
                        <template slot="title">
                            <div class="show-all-clients">
                                Show all clients
                            </div>
                        </template>
                        <div class="table clients">
                            <header>
                                Clients
                            </header>
                            <ignet-table :data="dataClients">
                            </ignet-table>
                        </div>
                    </el-collapse-item>
                </el-collapse>
                <div class="table documents">
                    <header>
                        Audits
                    </header>
                    <ignet-table :data="data.audits">
                        <el-table-column label="Action" prop="action" sortable>
                            <template slot-scope="scope">
                                <div v-html="scope.row.action"></div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Date" prop="created_at" sortable>
                            <template slot-scope="scope">
                                {{ scope.row.created_at }}
                            </template>
                        </el-table-column>
                        <el-table-column label="ip" prop="ip">
                            <template slot-scope="scope">
                                {{ scope.row.ip }}
                            </template>
                        </el-table-column>
                    </ignet-table>
                </div>

                <div class="table contracts">
                    <header>
                        Contracts
                    </header>

                    <div v-if="! data.is_sale">
                        <el-button class="button-add" @click="genPdf">Generate PDF</el-button>
                    </div>
                    <div v-else>
                        <el-select v-model="data.contractType" placeholder="Type">
                            <el-option label="sale" value="sale"></el-option>
                        </el-select>
                        <el-button class="button-add" @click="genPdf">Generate PDF</el-button>
                    </div>
                    <div class="error">{{ contractError }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import IgnetHeader from '../components/IgnetHeader';
    import IgnetTable from '../components/IgnetTable';
    import QrcModule from '../components/QRCModule';
    import qr from '../assets/bitmap.png';
    import download from '../assets/download.png';

    export default {
        name: 'Partner',
        data() {
            return {
                qr: qr,
                download: download,
                filter: 'in',
                qrType: 0,
                contractType: null,
                contractError: '',
                qrType: 0,
                contractType: null,
                contractError: ''
            }
        },
        computed: {
            data() {
                const data = this.$store.getters['partners/getCurrentPartner'];
                return data ? data : {}
            },
            ptypes() {
                return this.$store.getters['partners/getPtypes'];
            },
            dataPayments() {
                return this.$store.getters['partners/getPayments'](this.filter);
            },
            dataDocuments() {
                return this.data.documents;
            },
            dataClients() {
                return this.data.clients;
            },
            curQr() {
                if (this.data.qrcs) {

                    let qrType = this.data.qrType;

                    let qrcode = this.data.qrcs.find(function (item) {
                        return item.ptype_id === qrType;
                    })

                    return qrcode;
                }
            },
            managerName() {
                return this.data.manager ? this.data.manager.name : ''
            }
        },
        methods: {
            copy() {
                let textArea = document.createElement("textarea");
                textArea.value = this.$refs.referal.textContent;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                textArea.remove();
            },
            getPtype(ptype_id) {
                let type = this.filters.find(function (item) {
                    return item.id === ptype_id
                })
                return type.kind
            },
            encodeURI(val) {
              return encodeURI(val);
            },
            downloadDoc(val) {
                this.$store.dispatch('documents/download', val)
                    .then(
                        resp => {
                            if (200 != resp.status) {

                                this.contractError = 'Document not found';
                            } else {

                                this.contractError = '';
                                let a = document.createElement("a");
                                a.href = "data:application/octet-stream;base64," + encodeURI(resp.data.code);
                                a.download = resp.data.doc_name
                                a.click();
                            }
                        })
            },
            genPdf() {
                if (this.data.contractType) {
                    let type = this.data.contractType
                    let partnerId = this.data.id

                    this.$store.dispatch('contracts/generate', {partnerId, type})
                        .then(
                            resp => {
                                if (200 != resp.status) {

                                    this.contractError = 'Contract template not found';
                                } else {

                                    this.contractError = '';
                                    let a = document.createElement("a");
                                    a.href = "data:application/octet-stream;base64," + encodeURI(resp.data);
                                    a.download = "contract.pdf"
                                    a.click();
                                }
                            }
                        )
                }
            }
        },
        components: {
            IgnetHeader, IgnetTable, QrcModule
        },
        created() {
            this.$store.dispatch('partners/initCurrent')
        },
        filters: {
            toUpper(val) {
                return val ? val.charAt(0).toUpperCase() + val.slice(1) : '';
            }
        }
    }
</script>

<style lang="scss" scoped>

    .main_info__type_select {
        text-align: right;
    }

    .main_info__type_select /deep/ .el-input__inner {
        padding: 0;
        border: none;
        background: #f7f7f7;
    }

    .edit {
        color: #e96c06;
    }

    .hash {
        word-break: break-all;
    }

    .statuses {
        display: flex;
        height: 40px;
        border-bottom: solid 1px #e2e2e2;
        font-family: Gotham Pro;
        font-weight: 500;

        div {
            display: flex;
            justify-content: center;
            border-radius: 4px;
            width: 67px;
            height: 22px;
            font-size: 10px;
            padding: 5px;
            margin-right: 10px;
        }

        .is-active {
            background: rgba(45, 178, 58, 0.27);
            color: #2db23b;
        }

        .is-vip {
            background: rgba(179, 145, 118, 0.27);
            color: #e96c06;
        }
    }

    .content {
        font-family: Gotham Pro;

        .info {
            padding: 28px 23px;
            border: solid 1px #f7f7f7;
            margin-right: 19px;

            .created {
                font-size: 12px;
                color: #6b6b6b;
            }

            .amou {
                font-size: 13px;
                color: #3a3d40;
            }

            div {
                margin: 10px 0;
            }

            .dich {
                font-size: 13px;
                color: #3a3d40;
            }

            .amou span {
                font-weight: bold;
            }

            .address {
                font-weight: bold;
                font-size: 13px;
                color: #3a3d40;
            }

            .main-info {
                padding: 15px 15px 31px 31px;
                background: #f7f7f7;

                .top-main-info {
                    margin-top: 0;
                    display: grid;
                    grid-template-columns: 1fr 82px;

                    .left {
                        font-size: 13px;

                        .role {
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        .name {
                            font-weight: bold;
                            margin-bottom: 4px;
                        }

                        .number {
                            color: #6b6b6b;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .right__text {
                            height: 20px;
                            width: 100%;
                            padding: 0 10px;
                            display: flex;
                            justify-content: space-between;
                        }

                        .tem {
                            color: #e96c06;
                            grid-area: c;
                            display: flex;
                            justify-content: flex-end;
                            cursor: pointer;
                        }
                    }
                }

                .bottom {
                    margin-bottom: 10px;
                    color: #e96c06;

                    .email {
                        margin-bottom: 13px;
                    }

                    .referal {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 500;

                        .copy {
                            color: #6b6b6b;
                            font-size: 13px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;

            .table {
                header {
                    font-size: 15px;
                    font-weight: bold;
                }

                .filters {
                    display: flex;

                    div {
                        font-size: 13px;
                        cursor: pointer;
                    }

                    .outcoming {
                        margin-left: 10px;
                    }

                    .active {
                        font-weight: bold;
                    }
                }

                .see-all {
                    color: #e96c06;
                    cursor: pointer;
                }
            }
        }
    }

    .contracts {
        header {
            margin-bottom: 16px;
        }

        .error {
            margin-top: 10px;
            color: #ff3535;
        }
    }

    .show-all-clients {
        color: #e96c06;
        font-size: 16px;
    }

    @media screen and(max-width: 425px) {
        .content {
            .top {
                display: flex;
                flex-direction: column;
            }

            .amou {
                display: flex;
                flex-direction: column;
            }
        }
    }

    @media screen and(max-width: 768px) {
        .content {

        }
    }

    .collapse-dante {
        margin-bottom: 20px
    }
</style>
