<template>
<div id="partner-add">
    <div class="line">
        <ignet-header title="Add new partner" show-title-in-mobile has-back back-url="/partners">
        </ignet-header>
    </div>
    <content>
    <form @submit.prevent="submit">

        <div class="top">
            <div class="title">
                General information
            </div>
            <div>
                <el-radio @change="typeChanged" v-model="data.type" label="nat" border>Nat face</el-radio>
                <el-radio @change="typeChanged" v-model="data.type" label="entity" border>Entity</el-radio>
            </div>
            <div class="field">
                <div class="label_mine">
                <label for="company-name" class="label_mine">
                    Partner name
                </label>
                <div class="desc">
                    This will be shown on your profile
                </div>
                </div>
                <input id="company-name" type="text" v-model="data.name" placeholder="Partner name">
                <div></div>
                <div class="error">
                <span v-for="item in errors.name" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field" v-if="isEntity">
                <div class="label_mine">
                <label for="address" class="label_mine">
                    Address
                </label>
                <div class="desc">
                    Your headquarters
                </div>
                </div>
                <input id="address" type="text" v-model="data.address" placeholder="Address">
                <div></div> 
                <div class="error">
                <span v-for="item in errors.address" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                <label for="bank" class="label_mine">
                    Bank name
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="bank" type="text" v-model="data.bank" placeholder="Bank name">
                <div></div> 
                <div class="error">
                <span v-for="item in errors.bank" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field" v-if="isEntity">
                <div class="label_mine">
                <label for="bank" class="label_mine">
                    EDRPO
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="edrpo" type="text" v-model="data.edrpo" placeholder="EDRPO">
                <div></div>
                <div class="error">
                <span v-for="item in errors.edrpo" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                <label for="bank" class="label_mine">
                    SWIFT
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="swift" type="text" v-model="data.swift" placeholder="SWIFT">
                <div></div>
                <div class="error">
                <span v-for="item in errors.swift" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                <label for="bank" class="label_mine">
                    MFO
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="mfo" type="text" v-model="data.mfo" placeholder="MFO">
                <div></div>
                <div class="error">
                <span v-for="item in errors.mfo" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                <label for="bank" class="label_mine">
                    Account number
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="account" type="text" v-model="data.account" placeholder="Account number">
                <div></div>
                <div class="error">
                <span v-for="item in errors.account" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            <div class="field" v-if="isEntity">
                <div class="label_mine">
                    <label for="contact" class="label_mine">
                        Contact
                    </label>
                    <div class="desc">
                        Contact full name
                    </div>
                </div>
                <input id="contact" type="text" v-model="data.contact" placeholder="Contact">
                <div class="error">
                    <span v-for="item in errors.contact" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>

            <div class="field" v-if="isEntity">
                <div class="label_mine">
                    <label for="signer" class="label_mine">
                        Signer
                    </label>
                    <div class="desc">
                        Signer full name
                    </div>
                </div>
                <input id="signer" type="text" v-model="data.signer" placeholder="Signer">
                <div class="error">
                    <span v-for="item in errors.signer" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>

            <div class="field" v-if="isEntity">
                <div class="label_mine">
                <label for="base" class="label_mine">
                    Base
                </label>
                <div class="desc">
                </div>
                </div>
                <input id="base" type="text" v-model="data.base" placeholder="Base">
                <div></div>
                <div class="error">
                <span v-for="item in errors.base" :key="item.id">
                    {{ item }}
                </span> 
                </div>
            </div>

            </div>
            <div class="bottom">
            <div class="field">
                <div class="label_mine">
                    <label for="email" class="label_mine">
                        Email
                    </label>
                    <div class="desc">
                        Priority email for contact
                    </div>
                </div>
                <input id="email" type="text" v-model="data.email" placeholder="Email">
                <div></div>
                <div class="error">
                    <span v-for="item in errors.email" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                    <label for="login" class="label_mine">
                        Login
                    </label>
                    <div class="desc">
                        Priority email for auth to partner cabinet
                    </div>
                </div>
                <input id="login" type="text" v-model="data.login" placeholder="Login">
                <div></div>
                <div class="error">
                    <span v-for="item in errors.login" :key="item.id">
                        {{ item }}
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                    <label for="phone" class="label_mine">
                        Phone
                    </label>
                    <div class="desc">
                        Priority phone for contact
                    </div>
                </div>
                <input id="phone" type="text" v-model="data.phone" placeholder="Phone">
                <div></div>
                <div class="error">
                    <span v-for="item in errors.phone" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>
            
            <div class="field">
                <div class="label_mine">
                    <label for="site" class="label_mine">
                        Website
                    </label>
                    <div class="desc">
                        Partner website
                    </div>
                </div>
                <input id="site" type="text" v-model="data.website" placeholder="Company website">
                <div class="error">
                    <span v-for="item in errors.website" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                <label class="label_mine">Manager</label>
                <div class="desc">
                    Partner's manager
                </div>
                </div>
                <el-select v-model="data.parent_id" filterable class="input" id="parent">
                    <el-option v-for="partner in partners" :key="partner.id" :label="partner.name" :value="partner.id">
                    </el-option>
                </el-select>
            </div>
            
             <div class="field">
                <div class="label_mine">
                    <label class="label_mine">
                        Partner Status
                    </label>
                </div>
                <div>
                    <el-radio-group v-model="data.disabled">
                        <el-radio :label="1">Disable</el-radio>
                        <el-radio :label="0">Active</el-radio>
                    </el-radio-group>
                </div>
            </div>
        
        </div>

        <div class="payment-details">
        <div class="title">
            Payment details
        </div>
        <div class="field">
            <div class="label_mine">
            <label for="payment" class="label_mine">
                Minimum amount for withdrawal
            </label>
            <div class="desc">
                For all cases
            </div>
            </div>
            <input id="payment" type="text" v-model="data.paylevel" placeholder="2000 uah">
            <div></div> 
            <div class="error">
            <span v-for="item in errors.paylevel" :key="item.id">
                {{ item }}
            </span> 
            </div>
        </div>
        </div>

        <el-button native-type="submit" class="button">Add new partner</el-button>
    </form>
    </content>
</div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader';
import DocumentsAdd from '../components/DocumentsAdd';

export default {
name: 'ParnerAdd',
data() {
    return {
        data: {
            type: 'nat',
            name: '',
            address: '',
            bank: '',
            edrpo: '',
            swift: '',
            mfo: '',
            account: '',
            contact: '',
            signer: '',
            base: '',
            email: '',
            phone: '',
            website: '',
            paylevel: '',
            parent_id: 0,
            salt: 'secret',
            private: 0,
            disabled: 0,
            is_sale: 0,
            type_id: [],
            login: '',
            documents: ''
        }
    }
},
methods: {
    submit() {
        if (this.partnerIsReferal) {
            this.data.referalNames = this.referalNames;
        }
        if (this.partnerIsVirtual) {
            this.data.virtualNames = this.virtualNames;
        }
        if (this.partnerIsEmployer) {
            this.data.employerNames = this.employerNames;
        }
        if (this.partnerIsReseller) {
            this.data.resellerNames = this.resellerNames;
        }
        this.$store.dispatch('partners/add', this.data)
            .then((resp) => {
                this.$notify({
                    title: 'Success',
                    message: 'Partner was added',
                    type: 'success'
                });
            })
            .catch((err) => {
                let data = (err.data) ? err.data : [];
                this.$notify({
                    title: 'Warning',
                    message: 'Partner was not added',
                    type: 'warning'
                });
            });
    },
    typeChanged(val) {
        if (val === 'nat') {
            this.data.address = '';
            this.data.edrpo = '';
            this.data.contact = '';
            this.data.signer = '';
            this.data.base = '';
        }
    }
  },
created() {
    this.$store.dispatch('sellers/initData', {}).then(data => {
        if (data.length > 0)  this.data.parent_id = data[0].id
    });
  },
computed: {
    partners() {
        return this.$store.getters['sellers/getData']
    }, 
    ptypes() {
        return this.$store.getters['ptypes/getData']
    },
    errors() {
        const errors = this.$store.getters['partners/getErrors']
        return errors ? errors : {}
    },
    isSuper() {
        return this.$store.getters['ptypes/isSuper'];
    },
    isEntity() {
        return this.data.type === 'entity';
    },
},
    components: {
        IgnetHeader,
    }
}
</script>

<style lang="scss" scoped>
    content {
        font-family: Gotham Pro;
    }
    .top{
        margin-bottom: 20px;
        .title{
            margin-top: 42px;
            margin-bottom: 32px;
        }
    }
    .bottom{
        margin-bottom: 45px
    }
    .field{
        display: grid;
        grid-template-columns: 300px 300px;
        min-height: 44px;
        margin: 15px 0;
        .label_mine{
            color: #000;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: unset;
            height: 44px;
            padding: 0;
            .label_mine{
            padding: 0;
            font-size: 13px;
            font-weight: normal;
            }
            .desc{
            font-weight: normal;
            font-size: 12px;
            color: #868686;
            }
        }
        .list {
            display: flex;
            flex-direction: column;
            .inputs {
                width: 200px;
            }
        }
        input[type=text] {
            font-size: 13px;
            border: unset;
            outline: none;
            min-width: 200px;
            width: 100%;
            height: 44px;
            font-family: Gotham Pro;
            padding-left: 20px;
        }
        .count-controll {
            display: flex;
            justify-content: center;
            width: 200px;
        }
        .plus {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px
        }
        input:focus {
            box-shadow: 0 0 2px 1px rgba(221, 221, 221, 0.5);
        }
    }
    .payment-details {
        .title {
            margin-bottom: 36px;
        }
    }
    .line{
        height: 75px;
        border-bottom: solid 1px #e2e2e2;
    }
    .title{
        font-weight: bold;
        font-size: 14px
    }
    .button {
        color: #fff;
        border-radius: 4px;
        background-color: #e96c06;
    }
    .error {
        color: #e96c06;
    }
    input[type="file"] {
        display: none;
    }
    @media screen and (max-width: 320px) {
        .field {
            grid-template-columns: unset;
            display: block;
            width: 100%;
            .label_mine{
                display: none;
            }
            input[type=text]{
                height: 44px;
                width: 100%;
                min-width: 200px;
            }
            .input{
                width: 100%;
            }
            }
            .button{
            width: 100%;
        }
    }
</style>
