<template>
  <div id="partners">
    <ignet-header class="header" title="Partners">
        <template slot="right-block">
            <el-button class="button-add" v-if="$store.getters['auth/isAddPartner']" @click="toAdd">+ Add partner</el-button>
        </template>
    </ignet-header>
    <div class="filters">
        <el-select v-model="filter" class="filter" placeholder="Select">
            <el-option
                v-for="item in filters"
                :key="item.id"
                :label="item.kind"
                :value="item.id">
            </el-option>
            <el-option
                key="all"
                label="all"
                value="all">
            </el-option>
        </el-select>
        <el-select v-model="disableFilter" class="filter" placeholder="Select">
            <el-option
                label="Active"
                :value="0">
            </el-option>
            <el-option
                label="Disabled"
                :value="1">
            </el-option>
            <el-option
                label="All"
                value="all">
            </el-option>
        </el-select>
        <el-select v-model="filterColumn" class="filter" clearable>
            <el-option
                label="Phone"
                value="phone"
            >
            </el-option>
            <el-option
                label="Partner name"
                value="partner_name"
            >
            </el-option>
            <el-option
                label="Manager"
                :value="['manager', 'name']"
            >
            </el-option>
        </el-select>
        <input v-model="filterStr" type="text" placeholder="filter" class="filter-input filter">
    </div>
    <el-table :row-class-name="getRowClass" class="desktop" :row-style="rowStyles" @row-click="rowClick" :data="resultData">
        <el-table-column v-for="displayColumn in partnerColumns" :key="displayColumn.key" :label="displayColumn.label">
            <template slot-scope="scope">
                <div :class="displayColumn.key">{{ scope.row[displayColumn.key] }}</div>
            </template>
        </el-table-column>
        <el-table-column v-for="userColumn in userColumns" :key="userColumn.key" :label="userColumn.label">
            <template slot-scope="scope">
                <div :class="userColumn.key">{{ scope.row.manager.name }}</div>
            </template>
        </el-table-column>
    </el-table>
        <div class="block">
            <el-pagination
                v-if="data.length > 100"
                background
                layout="prev, pager, next"
                        :page-size="pageSize"
                :total="totalPages"
                @current-change="setCurrentPage">
            </el-pagination>
		</div>
  </div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader'
import TableMixin from '../components/mixins/table-mixin'

export default {
    name: 'PartnersList',
    data() {
        return {
            filter: 'all',
            disableFilter: 0,
            filterColumn: '',
            filterStr: '',
                rowStyles: {
                    cursor: 'pointer'
                }
            }
    },
    mixins: [TableMixin],
    created() {
        this.$store.dispatch('partners/initData')
    },
    computed: {
        data() {
            let data = this.$store.getters['partners/getDataByFilter'](this.filter, this.disableFilter, this.filterColumn, this.filterStr);
    
            return data;
        },
        filters() {
            return this.$store.getters['partners/getPtypes'];
        },
        partnerColumns() {
            return this.$store.state.partners.displayPartnerColumns;
        },
        userColumns() {
            return this.$store.state.partners.displayUserColumns;
        }
  },
    methods: {
        rowClick(row, event, column) {
            this.$router.push(`/partners/${row.id}`)  
        },
        toAdd() {
            this.$router.push('/add/partners')
        },
        getClass(item) {
            return item.prop === 'name' ? 'name' : ''
        },
        getRowClass({row, rowIndex}) {
            return row.disabled ? 'isDisable' : 'isActive'; 
        }
    },
    components: {
        IgnetHeader
  }
}
</script>

<style lang="scss" scoped>
  .header{
    margin-bottom: 10px;
  }
  .button-add{
    background: #e96c06;
    border-radius: 4px;
    color: #fff;
    font-family: Gotham Pro;
    width: 171px;
    height: 40px;
  }
  
  .name {
    color: #e96c06;
    font-weight: 500;
    font-size: 13px;
  }
  .filters {
    display: flex;
    justify-content: space-between;
  }
  .filter {
    border-color: unset;
    width: 100%
  }
  .filter-input{
    height: 40px;
    font-family: Gotham Pro;
    font-weight: 500;
    outline: none;
    font-size: 13px;
    border: 1px solid rgba(233, 233, 233, 0.8);
    padding: 0 10px;
    border-radius: 5px;
  }
  .filter-input::placeholder {
    font-weight: normal;
    color: rgba(107, 107, 107, 0.479);
  }
  .buttons {
    padding: 12px 0;
    i.el-icon-arrow-left{
      font-weight: bold;
      padding: 5px
    }
    i.el-icon-arrow-right{
      font-weight: bold;
      padding: 5px
    }
  }
  .block{
    margin-top: 25px;
  }
  @media screen and (max-width: 768px) {
    .filters {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .filter {
      width: 180px;
    }
  }
  @media screen and (max-width: 425px) {
    .mobile{
      display: block;
    }
    .filter {
      width: 100%
    }
  }
</style>
