<template>
  <div id="partner-add">
    <div class="line">
      <ignet-header title="Edit partner" show-title-in-mobile has-back :back-url="`/partners/${$route.params.id}`">
      </ignet-header>
    </div>
    <content>
      <form @submit.prevent="submit">

        <div class="top">
          <div class="title">
            General information
          </div>

          <div class="field">
            <div class="label_mine">
              <label for="company-name" class="label_mine">
                Partner name
              </label>
              <div class="desc">
                This will be shown on your profile
              </div>
            </div>
            <input id="company-name" type="text" v-model="data.name" placeholder="Partner name">  
            <div></div> 
            <div class="error">
              <span v-for="item in errors.name" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field" v-if="isEntity">
            <div class="label_mine">
              <label for="address" class="label_mine">
                Address
              </label>
              <div class="desc">
                Your headquarters
              </div>
            </div>
            <input id="address" type="text" v-model="data.address" placeholder="Address">
            <div></div> 
            <div class="error">
              <span v-for="item in errors.address" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

         
          <div class="field">
            <div class="label_mine">
              <label for="bank" class="label_mine">
                Bank name
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="bank" type="text" v-model="data.bank" placeholder="Bank name">
            <div></div> 
            <div class="error">
              <span v-for="item in errors.bank" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field" v-if="isEntity">
            <div class="label_mine">
              <label for="bank" class="label_mine">
                EDRPO
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="edrpo" type="text" v-model="data.edrpo" placeholder="EDRPO">
            <div></div>
            <div class="error">
              <span v-for="item in errors.edrpo" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field">
            <div class="label_mine">
              <label for="bank" class="label_mine">
                SWIFT
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="swift" type="text" v-model="data.swift" placeholder="SWIFT">
            <div></div>
            <div class="error">
              <span v-for="item in errors.swift" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field">
            <div class="label_mine">
              <label for="bank" class="label_mine">
                MFO
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="mfo" type="text" v-model="data.mfo" placeholder="MFO">
            <div></div>
            <div class="error">
              <span v-for="item in errors.mfo" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field">
            <div class="label_mine">
              <label for="bank" class="label_mine">
                Account number
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="account" type="text" v-model="data.account" placeholder="Account number">
            <div></div>
            <div class="error">
              <span v-for="item in errors.account" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field" v-if="isEntity">
            <div class="label_mine">
              <label for="contact" class="label_mine">
                Contact
              </label>
              <div class="desc">
                  Contact full name
              </div>
            </div>
            <input id="contact" type="text" v-model="data.contact" placeholder="Contact">
            <div class="error">
              <span v-for="item in errors.contact" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

          <div class="field" v-if="isEntity">
            <div class="label_mine">
              <label for="signer" class="label_mine">
                Signer
              </label>
              <div class="desc">
                Signer full name
              </div>
            </div>
            <input id="signer" type="text" v-model="data.signer" placeholder="Signer">
            <div class="error">
              <span v-for="item in errors.signer" :key="item.id">
                {{ item }}
              </span>
            </div>
          </div>

          <div class="field" v-if="isEntity">
            <div class="label_mine">
              <label for="base" class="label_mine">
                Base
              </label>
              <div class="desc">
              </div>
            </div>
            <input id="base" type="text" v-model="data.base" placeholder="Base">
            <div></div>
            <div class="error">
              <span v-for="item in errors.base" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

        </div>

        <div class="bottom">
          <div class="field">
            <div class="label_mine">
              <label for="email" class="label_mine">
                Email
              </label>
              <div class="desc">
                Priority email for contact
              </div>
            </div>
            <input id="email" type="text" v-model="data.email" placeholder="Email">
            <div></div> 
            <div class="error">
              <span v-for="item in errors.email" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>

            <div class="field">
                <div class="label_mine">
                    <label for="phone" class="label_mine">
                        Phone
                    </label>
                    <div class="desc">
                        Priority phone for contact
                    </div>
                </div>
                <input id="phone" type="text" v-model="data.phone" placeholder="Phone">
                <div></div> 
                <div class="error">
                    <span v-for="item in errors.phone" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>
          
            <div class="field">
                <div class="label_mine">
                    <label for="site" class="label_mine">
                        Website
                    </label>
                    <div class="desc">
                        Partner website
                    </div>
                </div>
                <input id="site" type="text" v-model="data.website" placeholder="Company website">
                <div></div> 
                <div class="error">
                    <span v-for="item in errors.website" :key="item.id">
                        {{ item }}
                    </span> 
                </div>
            </div>

            <div class="field">
                <div class="label_mine">
                    <label for="parent" class="label_mine">Manager</label>
                    <div class="desc">
                        Partner's manager
                    </div>
                </div>
                <el-select v-model="data.parent_id" filterable class="input" id="parent">
                    <!--<el-option :value="0" label="Without parent"></el-option>-->
                    <el-option v-for="partner in partners" :key="partner.id" :value="partner.id" :label="partner.name"></el-option>
                </el-select>
            </div>

            <div class="field">
                <div class="label_mine">
                    <label for="doc" class="label_mine">
                        Partner Status
                    </label>
                </div>
                <div>
                    <el-radio-group v-model="data.disabled">
                        <el-radio :label="1">Disable</el-radio>
                        <el-radio :label="0">Active</el-radio>
                    </el-radio-group>
                </div>
            </div>
            <div class="ptypes" v-if="isSuper">
                <div class="field">
                    <div class="label_mine">
                        <label for="parent" class="label_mine">Types</label>
                        <div class="desc">
                            Partner types
                        </div>
                    </div>
                    <div>
                        {{ resultPtypes }}
                    </div>
                </div>

                <div class="field">
                    <div class="label_mine">
                        <label for="referal" class="label_mine">Referal QRCS</label>
                        <div class="desc">
                            List qrcf for referal partner type
                        </div>
                    </div>
                    <div class="list">
                        <div class="inputs created" v-if="createdReferalNames.length > 0">
                            <div class="input-item" v-for="(value, index) in createdReferalNames" :key="index">
                                <input type="text" v-model="createdReferalNames[index].name" placeholder="Referal QRC name">
                                <el-radio-group v-model="createdReferalNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="input-item" v-for="(value, index) in referalNames" :key="index">
                                <input type="text" v-model="referalNames[index].name" placeholder="Referal QRC name">
                                <el-radio-group v-model="referalNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="count-controll">
                            <div class="plus" @click="addReferal"><plus-svg width="10"></plus-svg></div>
                            <div class="plus" @click="removeReferal"><minus-svg width="10" v-if="referalNames.length > 0"></minus-svg></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="label_mine">
                        <label class="label_mine">Virtual QRCS</label>
                        <div class="desc">
                            List qrcf for virtual partner type
                        </div>
                    </div>
                    <div class="list">
                        <div class="inputs created" v-if="createdVirtualNames.length > 0">
                            <div class="input-item" v-for="(value, index) in createdVirtualNames" :key="index">
                                <input type="text" v-model="createdVirtualNames[index].name" placeholder="Referal QRC name">
                                <el-radio-group v-model="createdVirtualNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="input-item" v-for="(value, index) in virtualNames" :key="index">
                                <input type="text" v-model="virtualNames[index].name" placeholder="Virtual QRC name">
                                <el-radio-group v-model="virtualNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="count-controll">
                            <div class="plus" @click="addVirtual"><plus-svg width="10"></plus-svg></div>
                            <div class="plus" @click="removeVirtual"><minus-svg width="10" v-if="virtualNames.length > 0"></minus-svg></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="label_mine">
                        <label class="label_mine">Employer QRCS</label>
                        <div class="desc">
                            List qrcf for employer partner type
                        </div>
                    </div>
                    <div class="list">
                        <div class="inputs created" v-if="createdEmployerNames.length > 0">
                            <div class="input-item" v-for="(value, index) in createdEmployerNames" :key="index">
                                <input type="text" v-model="createdEmployerNames[index].name" placeholder="Referal QRC name">
                                <el-radio-group v-model="createdEmployerNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="input-item" v-for="(value, index) in employerNames" :key="index">
                                <input type="text" v-model="employerNames[index].name" placeholder="Employer QRC name">
                                <el-radio-group v-model="employerNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="count-controll">
                            <div class="plus" @click="addEmployer"><plus-svg width="10"></plus-svg></div>
                            <div class="plus" @click="removeEmployer"><minus-svg width="10" v-if="employerNames.length > 0"></minus-svg></div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="label_mine">
                        <label class="label_mine">Reseller QRCS</label>
                        <div class="desc">
                            List qrcf for reseller partner type
                        </div>
                    </div>
                    <div class="list">
                        <div class="inputs created" v-if="createdResellerNames.length > 0">
                            <div class="input-item" v-for="(value, index) in createdResellerNames" :key="index">
                                <input type="text" v-model="createdResellerNames[index].name" placeholder="Referal QRC name">
                                <el-radio-group v-model="createdResellerNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="input-item" v-for="(value, index) in resellerNames" :key="index">
                                <input type="text" v-model="resellerNames[index].name" placeholder="Reseller QRC name">
                                <el-radio-group v-model="resellerNames[index].disabled">
                                    <el-radio :label="0">Active</el-radio>
                                    <el-radio :label="1">Disable</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="count-controll">
                            <div class="plus" @click="addReseller"><plus-svg width="10"></plus-svg></div>
                            <div class="plus" @click="removeReseller"><minus-svg width="10" v-if="resellerNames.length > 0"></minus-svg></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-details">
          <div class="title">
            Payment details
          </div>
          <div class="field">
            <div class="label_mine">
              <label for="payment" class="label_mine">
                Minimum amount for withdrawal
              </label>
              <div class="desc">
                For all cases
              </div>
            </div>
            <input id="payment" type="text" v-model="data.paylevel" placeholder="2000 uah">
            <div></div> 
            <div class="error">
              <span v-for="item in errors.paylevel" :key="item.id">
                {{ item }}
              </span> 
            </div>
          </div>
        </div>
        <div class="field">
            <div class="label_mine">
                <label class="label_mine">Upload document</label>
            </div>
            <div>
                <documents-add @click="openModal" v-if="$store.getters['auth/isAddDocs']"></documents-add>
            </div>
        </div>
        <div class="title">
            Added documents
        </div>
        <ignet-table :data="current.documents">
            <el-table-column  label="Document name" prop="name">
                <template slot-scope="scope">
                        {{ scope.row.name }}
                </template>
            </el-table-column>
            <el-table-column label="Document date" prop="date">
                <template slot-scope="scope">
                    {{ scope.row.date }}
                </template>
            </el-table-column>
            <el-table-column label="Document file" prop="file">
                <template slot-scope="scope">
                    {{ scope.row.name }}
                </template>
            </el-table-column>
        </ignet-table>
        <el-button native-type="submit" class="button">Save changes</el-button>
      </form>
    </content>
    <add-file-modal :partner-id="this.data.id" @add-file="addFile" :visible="modalEnambled" @close="modalEnambled = false"></add-file-modal>
  </div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader';
import DocumentsAdd from '../components/DocumentsAdd';
import PlusSvg from '../components/svg/Plus';
import MinusSvg from '../components/svg/Minus';
import AddFileModal from '../components/AddFileModal';
import IgnetTable from '../components/IgnetTable';

export default {
    name: 'ParnerEdit',
    data() {
        return {
            data: {
                id: 0,
                name: '',
                address: '',
                bank: '',
                edrpo: '',
                swift: '',
                mfo: '',
                account: '',
                contact: '',
                signer: '',
                base: '',
                email: '',
                phone: '',
                website: '',
                paylevel: '',
                parent_id: 0,
                disabled: 0,
                type: 'nat'
            },
            referalNames: [],
            virtualNames: [],
            employerNames: [],
            resellerNames: [],
            createdReferalNames: [],
            createdVirtualNames: [],
            createdEmployerNames: [],
            createdResellerNames: [],
            modalEnambled: false
        }
    },
    computed: {
        current() {
            return this.$store.getters['partners/getCurrentPartner'];
        },
        partners() {
            return this.$store.getters['sellers/getData'];
        },
        resultPartners() {
            return this.partners.filter((partner) => {
                return !!partner.is_sale
            });
        },
        ptypes() {
            return this.$store.getters['ptypes/getData'];
        },
        errors() {
            const errors = this.$store.getters['partners/getErrors'];
            return errors ? errors : {};
        },
        partnerIsReferal() {
            return this.referalNames.length > 0 || this.createdReferalNames.length > 0;
        },
        partnerIsVirtual() {
            return this.virtualNames.length > 0 || this.createdVirtualNames.length > 0;
        },
        partnerIsEmployer() {
            return this.employerNames.length > 0 || this.createdEmployerNames.length > 0;
        },
        partnerIsReseller() {
            return this.resellerNames.length > 0 || this.createdResellerNames.length > 0;
        },
        isSuper() {
            return this.$store.getters['auth/isSuper'];
        },
        resultPtypes() {
            let result = [];
            if (this.partnerIsReferal) result.push('referal');
            if (this.partnerIsVirtual) result.push('virtual');
            if (this.partnerIsEmployer) result.push('employer');
            if (this.partnerIsReseller) result.push('reseller');
            
            return result.length > 0 ? result.join(', ') : 'No type';
        },
        documents() {
            return this.$store.getters['documents/getFiles'];
        },
        isEntity() {
            return this.data.type === 'entity';
        },
    },
    methods: {
        submit() {
            this.data.referalQrcs = this.referalNames;
            this.data.virtualQrcs = this.virtualNames;
            this.data.employerQrcs = this.employerNames;
            this.data.resellerQrcs = this.resellerNames;
            this.data.updatedQrcs = [].concat(this.createdReferalNames, this.createdVirtualNames, this.createdEmployerNames, this.createdResellerNames );
            this.$store.dispatch('partners/save', this.data)
                .then((response) => {
                    this.saveAddedQrcs(response.data.savedQrcs);
                    this.$notify({
                        title: 'Success',
                        message: 'Partner was updated',
                        type: 'success'
                    });
                })
                .catch((err) => {
                    this.$notify({
                        title: 'Warning',
                        message: 'Partner was not updated',
                        type: 'warning'
                    })
                })
        },
        saveAddedQrcs(savedQrcs) {

            this.createdReferalNames = this.createdReferalNames.concat(savedQrcs['referal']);
            this.createdVirtualNames = this.createdVirtualNames.concat(savedQrcs['virtual']);
            this.createdEmployerNames = this.createdEmployerNames.concat(savedQrcs['employer']);
            this.createdResellerNames = this.createdResellerNames.concat(savedQrcs['reseller']);

            this.clearNewQrcs();
        },

        clearNewQrcs() {

            this.data.referalQrcs = [];
            this.data.virtualQrcs = [];
            this.data.employerQrcs = [];
            this.data.resellerQrcs = [];
            this.referalNames = [];
            this.virtualNames = [];
            this.employerNames = [];
            this.resellerNames = [];
        },
        addReferal() {
            this.referalNames.push({ name: '', disabled: 1, deletable: true });
        },
        addVirtual() {
            this.virtualNames.push({ name: '', disabled: 1, deletable: true });
        },
        addEmployer() {
            this.employerNames.push({ name: '', disabled: 1, deletable: true });
        },
        addReseller() {
            this.resellerNames.push({ name: '', disabled: 1, deletable: true });
        },
        removeReferal() {
            this.referalNames.pop({ name: '', disabled: 1, deletable: true });
        },
        removeVirtual() {
            this.virtualNames.pop();
        },
        removeEmployer() {
            this.employerNames.pop();
        },
        removeReseller() {
            this.resellerNames.pop();
        },
        openModal() {
            this.modalEnambled = true
        },
        addFile(document) {
            this.documents.push({name: document.name, date: document.date, file: document.file});
            this.modalEnambled = false; 
        },
        deleteDocument(index) {
            this.documents.splice(index, 1);
        },

    },
    created() {
        this.$store.dispatch('partners/initCurrent')
            .then(() => {
                this.$store.dispatch('sellers/initData', {id: this.$route.params.id})
                if (this.isSuper) {
                    this.$store.dispatch('ptypes/initData');
                }
                const current = this.$store.getters['partners/getCurrentPartner'];
                for (let key in current) {
                    if (key === 'manager') {
                        this.data.parent_id = current[key].id
                    }
                    this.data[key] = current[key];
                }
                
                let types = [];
                current.ptypes.forEach(ptype => {
                    types.push(ptype.id);
                });
                current.qrcs.forEach(qrc => {
                    switch(qrc.ptype_id.kind) {
                        case 'referal': this.createdReferalNames.push({ name: qrc.name, disabled: qrc.disabled, id: qrc.id });
                            break;
                        case 'virtual': this.createdVirtualNames.push({ name: qrc.name, disabled: qrc.disabled, id: qrc.id });
                            break;
                        case 'employer': this.createdEmployerNames.push({ name: qrc.name, disabled: qrc.disabled, id: qrc.id });
                            break;
                        case 'reseller': this.createdResellerNames.push({ name: qrc.name, disabled: qrc.disabled, id: qrc.id });
                    }
                });
                
                this.data.type_id = types;
        });
    },
    filters: {
        onlyFileName(value) {
            return value ? value.name : '';
        }
    },
    components: {
        IgnetHeader,
        DocumentsAdd,
        PlusSvg,
        MinusSvg,
        AddFileModal,
        IgnetTable
    }
}
</script>

<style lang="scss" scoped>
  content {
    font-family: Gotham Pro;
  }
  .top{
    margin-bottom: 20px;
    .title{
      margin-top: 42px;
      margin-bottom: 32px;
    }
  }
  .bottom{
    margin-bottom: 45px
  }
  .field{
      display: grid;
      grid-template-columns: 300px 300px;
      min-height: 44px;
      margin: 15px 0;
      .label_mine{
        color: #000;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: unset;
        height: 44px;
        padding: 0;
        .label_mine{
          padding: 0;
          font-size: 13px;
          font-weight: normal;
        }
        .desc{
          font-weight: normal;
          font-size: 12px;
          color: #868686;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        .inputs.created {
            border-bottom: solid 1px rgba(0, 0, 0, 0.4)
        }
        .inputs {
            width: 200px;
        }
      }
      input[type=text] {
        font-size: 13px;
        border: unset;
        outline: none;
        min-width: 200px;
        width: 100%;
        height: 44px;
        font-family: Gotham Pro;
        padding-left: 20px;
      }
      .count-controll {
          display: flex;
          justify-content: center;
          width: 200px;
      }
      .plus {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 10px
      }
      input:focus {
        box-shadow: 0 0 2px 1px rgba(221, 221, 221, 0.5);
      }
    }
    .payment-details {
      .title {
        margin-bottom: 36px;
      }
    }
  .line{
    height: 75px;
    border-bottom: solid 1px #e2e2e2;
  }
  .title{
    font-weight: bold;
    font-size: 14px
  }
  .button {
    color: #fff;
    border-radius: 4px;
    background-color: #e96c06;
  }
  .error {
    color: #e96c06;
  }
  input[type="file"] {
    display: none;
  }
  @media screen and (max-width: 320px) {
    .field {
      grid-template-columns: unset;
      display: block;
      width: 100%;
      .label_mine{
        display: none;
      }
      input[type=text]{
        height: 44px;
        width: 100%;
        min-width: 200px;
      }
      .input{
        width: 100%;
      }
    }
    .button{
      width: 100%;
    }
  }
  .input-item {
      input {
          margin-bottom: 10px
      }
      border-bottom: solid 1px rgba(0, 0, 0, 0.1)
  }
</style>
