<template>
    <div id="sellers">
        <ignet-header class="header" title="Managers">
            <template slot="right-block">
                <el-button class="button-add" v-if="$store.getters['auth/isSuper']" @click="toAdd">+ Add manager
                </el-button>
            </template>
        </ignet-header>
        <div class="filters">
            <el-select v-model="disableFilter" class="filter" placeholder="Select">
                <el-option
                        label="Active"
                        :value="0">
                </el-option>
                <el-option
                        label="Disabled"
                        :value="1">
                </el-option>
                <el-option
                        label="All"
                        value="all">
                </el-option>
            </el-select>
            <el-select v-model="filterColumn" class="filter" clearable>
                <el-option
                        label="Full name"
                        value="name">
                </el-option>
                <el-option
                        label="Email"
                        value="login">
                </el-option>
                <el-option
                        label="Phone"
                        value="phone">
                </el-option>
            </el-select>
            <input v-model="filterStr" type="text" placeholder="filter" class="filter-input filter">
        </div>
        <el-table
                :row-class-name="getRowClass"
                class="desktop"
                :row-style="rowStyles"
                @row-click="rowClick"
                :data="resultData"
                @sort-change="sortChange">
            <el-table-column v-for="displayColumn in selesColumns" sortable :key="displayColumn.key"
                             :label="displayColumn.label" :prop="displayColumn.key">
                <template slot-scope="scope">
                    <div :class="displayColumn.key"><span
                            :class="getStatus(scope.row[displayColumn.key], displayColumn.key).style">{{ getStatus(scope.row[displayColumn.key], displayColumn.key).value }}</span>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                    v-if="data.length > 100"
                    background
                    layout="prev, pager, next"
                    :page-size="pageSize"
                    :total="totalPages"
                    @current-change="setCurrentPage">
            </el-pagination>
        </div>
    </div>
</template>

<script>
    import TableMixin from "../components/mixins/table-mixin";
    import IgnetHeader from "../components/IgnetHeader";

    export default {
        name: "Sallers",
        data() {
            return {
                filter: 'all',
                disableFilter: 0,
                filterColumn: '',
                filterStr: '',
                rowStyles: {
                    cursor: 'pointer'
                }
            };
        },
        mixins: [TableMixin],
        created() {
            this.$store.dispatch('sellers/initData');
        },
        computed: {
            data() {
                let data = this.$store.getters["sellers/getDataByFilter"](
                    this.filter,
                    this.disableFilter,
                    this.filterColumn,
                    this.filterStr
                );
                return data;
            },
            seles() {
                return this.$store.getters["sellers/getData"];
            },
            selesColumns() {
                return this.$store.getters['sellers/getColumns'];
            }
        },
        methods: {
            rowClick(row, event, column) {
                this.$router.push(`/edit/seller/${row.id}`);
            },
            getRowClass({row, rowIndex}) {
                return row.disabled ? "isDisable" : "isActive";
            },
            toAdd() {
                this.$router.push('/add/sellers')
            }
        },
        components: {IgnetHeader}
    };
</script>

<style lang="scss" scoped>
    .header {
        margin-bottom: 10px;
    }

    /deep/ .el-table td .disabled span {
        height: 22px;
        padding: 5px 15px;
        border-radius: 4px;
        background-color: rgba(196, 196, 196, 0.27);
        font-family: Gotham Pro;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
    }

    /deep/ .el-table td .active {
        color: #e96c06;
    }

    .button-add {
        background: #e96c06;
        border-radius: 4px;
        color: #fff;
        font-family: Gotham Pro;
        width: 171px;
        height: 40px;
    }

    .name {
        color: #606266;
        font-size: 12px;
        font-weight: normal;
    }

    .filters {
        display: flex;
        justify-content: space-between;
    }

    .filter {
        border-color: unset;
        width: 100%
    }

    .filter-input {
        height: 40px;
        font-family: Gotham Pro;
        font-weight: 500;
        outline: none;
        font-size: 13px;
        border: 1px solid rgba(233, 233, 233, 0.8);
        padding: 0 10px;
        border-radius: 5px;
    }

    .filter-input::placeholder {
        font-weight: normal;
        color: rgba(107, 107, 107, 0.479);
    }

    .buttons {
        padding: 12px 0;

        i.el-icon-arrow-left {
            font-weight: bold;
            padding: 5px
        }

        i.el-icon-arrow-right {
            font-weight: bold;
            padding: 5px
        }
    }

    .block {
        margin-top: 25px;
    }

    @media screen and (max-width: 768px) {
        .filters {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .filter {
            width: 180px;
        }
    }

    @media screen and (max-width: 425px) {
        .mobile {
            display: block;
        }
        .filter {
            width: 100%
        }
    }

</style>
