<template>
    <div id="partner-add">
        <div class="line">
            <ignet-header :title="titleName" show-title-in-mobile has-back back-url="/sellers"/>
        </div>
        <content>
            <form @submit.prevent="submit">

                <div class="title">
                    General information
                </div>

                <div class="field">
                    <div class="label_mine">
                    <label for="company-name" class="label_mine">
                        Name
                    </label>
                    <div class="desc">
                        This will be shown on his profile
                    </div>
                    </div>
                    <input id="company-name" type="text" v-model="data.name" placeholder="Name">
                    <div></div>
                    <div class="error">
                    <span v-for="item in errors.name" :key="item.id">
                        {{ item }}
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="label_mine">
                        <label for="email" class="label_mine">
                            Email
                        </label>
                        <div class="desc">
                            Priority email for contact
                        </div>
                    </div>
                    <input :disabled="editable" id="email" type="text" v-model="data.login" placeholder="Email">
                    <div></div>
                    <div class="error">
                        <span v-for="item in errors.login" :key="item.id">
                            {{ item }}
                        </span> 
                    </div>
                </div>
                <div class="field">
                    <div class="label_mine">
                        <label for="phone" class="label_mine">
                            Phone
                        </label>
                        <div class="desc">
                            Priority phone for contact
                        </div>
                    </div>
                    <input id="phone" type="text" v-model="data.phone" placeholder="Phone">
                    <div></div>
                    <div class="error">
                        <span v-for="item in errors.phone" :key="item.id">
                            {{ item }}
                        </span> 
                    </div>
                </div>
                <div class="field">
                    <div class="label_mine">
                        <label for="doc" class="label_mine">
                            Seller Status
                        </label>
                    </div>
                    <div>
                        <el-radio-group v-model="data.disabled">
                            <el-radio :label="1">Disable</el-radio>
                            <el-radio :label="0">Active</el-radio>
                        </el-radio-group>
                    </div>
                </div>
            
                <el-button native-type="submit" class="button">{{ buttonName }}</el-button>
            </form>
        </content>
    </div>
</template>

<script>
import IgnetHeader from '../components/IgnetHeader';

export default {
    data() {
        return {
            data: {
                name: '',
                login: '',
                disabled: 0,
                phone: ''
            },
            editable: false
        }
    },
    methods: {
        submit() {
            let action = this.editable ? 'update' : 'add';
            let successMessage = this.editable ? 'Manager was updated' : 'Manager was added';
            let errorMessage = this.editable ? 'Manager was not updated' : 'Manager was not added';
            let id = this.$route.params.id;
            this.$store.dispatch('sellers/save', {data: this.data, action, id})
                .then((data) => {
                    this.$notify({
                        title: 'Success',
                        message: successMessage,
                        type: 'success'
                    });
                })
                .catch((err) => {
                    this.$notify({
                        title: 'Warning',
                        message: errorMessage,
                        type: 'warning'
                    });
                });
        }
    },
    computed: {
        buttonName() {
            return this.editable ? 'Edit manager' : 'Add new manager';
        },
        titleName() {
            return this.editable ? 'Edit manager' : 'Add new manager';
        },
        errors() {
            return this.$store.getters['sellers/getErrors'];
        }
    },
    components: {
        IgnetHeader
    },
    created() {
        this.$store.commit('sellers/setErrors', []);
        let id = this.$route.params.id;
        if (!id) return
        this.$store.dispatch('sellers/getCurrent', id)
            .then(data => {
                this.data = data;
                this.editable = true;
            })
            .catch(err => {
                console.log(err);
            })
    }
}
</script>

<style lang="scss" scoped>
    content {
        font-family: Gotham Pro;
        margin-bottom: 45px
    }
    .top{
        margin-bottom: 20px;
        .title{
        margin-top: 42px;
        margin-bottom: 32px;
        }
    }
    .bottom{
        margin-bottom: 45px
    }
    .field{
        display: grid;
        grid-template-columns: 300px 300px;
        min-height: 44px;
        margin: 15px 0;
        .label_mine{
            color: #000;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: unset;
            height: 44px;
            padding: 0;
            .label_mine{
            padding: 0;
            font-size: 13px;
            font-weight: normal;
            }
            .desc{
            font-weight: normal;
            font-size: 12px;
            color: #868686;
            }
        }
        .list {
            display: flex;
            flex-direction: column;
            .inputs {
                width: 200px;
            }
        }
        input[type=text] {
            font-size: 13px;
            border: unset;
            outline: none;
            min-width: 200px;
            width: 100%;
            height: 44px;
            font-family: Gotham Pro;
            padding-left: 20px;
        }
        .count-controll {
            display: flex;
            justify-content: center;
            width: 200px;
        }
        .plus {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 10px
        }
        input:focus {
            box-shadow: 0 0 2px 1px rgba(221, 221, 221, 0.5);
        }
        }
        .payment-details {
        .title {
            margin-bottom: 36px;
        }
        }
    .line{
        height: 75px;
        margin-bottom: 45px;
        border-bottom: solid 1px #e2e2e2;
    }
    .title{
        font-weight: bold;
        font-size: 14px
    }
    .button {
        color: #fff;
        border-radius: 4px;
        background-color: #e96c06;
    }
    .error {
        color: #e96c06;
    }
    input[type="file"] {
        display: none;
    }
    @media screen and (max-width: 320px) {
        .field {
        grid-template-columns: unset;
        display: block;
        width: 100%;
        .label_mine{
            display: none;
        }
        input[type=text]{
            height: 44px;
            width: 100%;
            min-width: 200px;
        }
        .input{
            width: 100%;
        }
        }
        .button{
        width: 100%;
        }
    }
</style>
