<template>
    <div id="tickets">
        <el-header class="navigate">
            <div class="logout" @click="logout()">
                Logout
            </div>
        </el-header>
        <el-main>
            <div class="body">
                <el-row>
                    <el-col :span="12">
                        <div class="header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="list-tickets">
                            <el-tabs v-model="activeName">
                                <el-tab-pane label="Unprocessed" name="first">
                                    <tickets-list type="unprocessed"></tickets-list>
                                </el-tab-pane>
                                <el-tab-pane label="Processed" name="second">
                                    <tickets-list type="processed"></tickets-list>
                                </el-tab-pane>
                            </el-tabs>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="header">
                            <h2>Dashboard</h2>
                        </div>
                        <div class="graphs">
                            <el-progress :percentage="0"></el-progress>
                            <el-progress :percentage="70"></el-progress>
                            <el-progress :percentage="80" color="#8e71c7"></el-progress>
                            <el-progress :percentage="100" status="success"></el-progress>
                            <el-progress :percentage="50" status="exception"></el-progress>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </el-main>
    </div>
</template>

<script>
    import TicketsList from '../components/tickets/TicketsList';

    export default {
        name: "Tickets",
        data() {
            return {
                activeName: 'first',
                testTicketItem: {
                    firstName: 'Dante',
                    middleName: 'de',
                    lastName: 'Паладиноприпятичный',
                    photoPath: 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png'
                }
            };
        },
        components: {
            TicketsList
        },
        created() {
            this.$store.dispatch('tickets/initData');

            setInterval(() => {
                this.$store.dispatch('tickets/initData');
            }, 60000)

            let user = this.$store.getters['auth/getUser'];

            if (!user.is_moderator) {
                this.$router.push('/partners')
            }
        },
        methods: {
            logout() {
                this.$store.dispatch('auth/logout')
                    .then(() => {
                        this.$router.push('/login')
                    })
            },
        }
    }
</script>

<style scoped>
    #tickets {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: auto;
    }
    .graphs {
        padding: 10px;
    }
    .list-tickets {
        padding: 0 20px;
    }
    div {
        font-family: "Gotham Pro";
    }
    .navigate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .logout {
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
    }
    @media screen and (min-width: 769px) {
    }
</style>