<template>
    <div>
        <div v-if="tickets.length < 1">
            No data
        </div>
        <div v-else v-for="ticket in tickets">
            <ticket-item :ticket-info="ticket.user" :ticket-id="ticket.id" :item-status="type"></ticket-item>
        </div>
    </div>
</template>

<script>
    import TicketItem from '../TicketItem';

    export default {
        name: "UnprocessedTickets",
        components: {
            TicketItem
        },
        props: {
            type: {
                type: String,
                default: 'unprocessed'
            }
        },
        computed: {
            tickets() {
                if (this.type === 'processed') {
                    return this.$store.getters['tickets/getProcessedTicket'];
                }
                return this.$store.getters['tickets/getUnprocessedTickets'];
            }
        }
    }
</script>

<style scoped>

</style>