<template>
    <div id="all-logs">

        <ignet-header class="header" title="Logs"></ignet-header>

        <div class="filters">
            <el-select class="filter filter-user" v-model="filter.user" placeholder="User">
                <el-option
                        key="all"
                        label="all"
                        value="all">
                </el-option>
                <el-option
                        v-for="(item, key) in users"
                        :key="key"
                        :label="item.email"
                        :value="item.id">
                </el-option>
            </el-select>
            <el-select class="filter filter-action" v-model="filter.action" placeholder="Action">
                <el-option
                        key="all"
                        label="all"
                        value="all">
                </el-option>
                <el-option
                        v-for="(item, key) in actionsNames"
                        :key="key"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
            <el-select class="filter filter-action" v-model="filter.model" placeholder="Model">
                <el-option
                        key="all"
                        label="all"
                        value="all">
                </el-option>
                <el-option
                        v-for="(item, key) in modelsNames"
                        :key="key"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
            <el-date-picker
                    class="filter filter-date"
                    v-model="filter.date"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="To"
                    start-placeholder="Start date"
                    end-placeholder="End date"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    :default-time="['00:00:00', '23:59:59']"
                    :picker-options="pickerOptions">
            </el-date-picker>
        </div>

        <el-collapse accordion>
            <el-collapse-item :name="log.id" v-for="log in logs" :key="log.id">
                <template slot="title">
                    <div class="log-wrapper">
                        <div class="f-td-logs">
                            <span class="date-log">{{ log.created_at | toTime }}</span>
                            <span class="time-log">{{ log.created_at | toDate }}</span>
                        </div>
                        <div class="s-td-logs">
                            <span class="status-user">{{ getAdminEmail(log.passwd_id) }}</span>
                        </div>
                    </div>
                </template>
                <div>
                    <div v-if="log.doing.id">
                        <span class="bold">id: </span>{{log.doing.id}}
                    </div>

                    <div v-if="log.doing.hash">
                        <span class="bold">hash: </span>{{log.doing.hash}}
                    </div>

                    <div>
                        <span class="bold">Model name: </span>{{ log.doing.modelName }}
                    </div>

                    <div>
                        <span class="bold">Action name: </span>{{ log.doing.actionName }}
                    </div>

                    <div v-if="log.doing.oldValues">
                        <span class="bold">Old values</span> {{log.doing.oldValues}}
                    </div>

                    <div v-if="log.doing.newValues">
                        <span class="bold">Object: </span> {{log.doing.newValues}}
                    </div>

                </div>
            </el-collapse-item>
        </el-collapse>

    </div>
</template>

<script>
    import IgnetHeader from '../../components/IgnetHeader'

    export default {
        name: 'Logs',
        components: {
            IgnetHeader
        },
        data() {
            return {
                filter: {
                    user: 'all',
                    action: 'all',
                    date: 'all',
                    model: 'all'
                }
            }
        },
        computed: {
            logs() {
                return this.$store.getters['logs/getDataByFilters'](this.filter);
            },
            users() {
                return this.$store.getters['logs/getUsers'];
            },
            actionsNames() {
                return this.$store.getters['logs/getActionsNames'];
            },
            modelsNames() {
                return this.$store.getters['logs/getModelsNames'];
            },
            pickerOptions() {
                return {
                    shortcuts: [
                        {
                            text: 'Today',
                            onClick(picker) {
                                const end = new Date()
                                const start = new Date()
                                start.setHours(0)
                                start.setMinutes(0)
                                start.setSeconds(0)
                                end.setHours(23)
                                end.setMinutes(59)
                                end.setSeconds(59)
                                picker.$emit('pick', [start, end])
                            }
                        },
                        {
                            text: 'Current week',
                            onClick(picker) {
                                const curr = new Date
                                let first = curr.getDate() - curr.getDay() + 1
                                let last = first + 6
                                let start = new Date(curr.setDate(first))
                                let end = new Date(curr.setDate(last))

                                start.setHours(0)
                                start.setMinutes(0)
                                start.setSeconds(0)
                                end.setHours(23)
                                end.setMinutes(59)
                                end.setSeconds(59)

                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last week',
                            onClick(picker) {
                                const curr = new Date
                                let last = curr.getDate() - curr.getDay()
                                let first = last - 6
                                let start = new Date(curr.setDate(first))
                                let end = new Date(curr.setDate(last))

                                start.setHours(0)
                                start.setMinutes(0)
                                start.setSeconds(0)
                                end.setHours(23)
                                end.setMinutes(59)
                                end.setSeconds(59)

                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Current month',
                            onClick(picker) {
                                const curr = new Date
                                let start = new Date(curr.setDate(1))
                                let end = new Date(curr.setMonth(curr.getMonth() + 1))

                                start.setHours(0)
                                start.setMinutes(0)
                                start.setSeconds(0)
                                end.setDate(0)
                                end.setHours(23)
                                end.setMinutes(59)
                                end.setSeconds(59)

                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: 'Last month',
                            onClick(picker) {
                                const curr = new Date
                                let start = new Date(curr.setMonth(curr.getMonth() - 1))
                                let end = new Date

                                start.setDate(1)
                                start.setHours(0)
                                start.setMinutes(0)
                                start.setSeconds(0)
                                end.setDate(0)
                                end.setHours(23)
                                end.setMinutes(59)
                                end.setSeconds(59)

                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ],
                    firstDayOfWeek: 1
                }
            }
        },
        methods: {
            getAdminEmail(id) {
                return this.users.find((user) => {
                    return user.id === id;
                }).email;
            }
        },
        created() {
            this.$store.dispatch('logs/initData')
        },
        filters: {
            toDate(val) {
                if (val) {
                    let dateTime = val.split(' ')
                    let date = dateTime[0].split('-')
                    return date[2] + '.' + date[1] + '.' + date[0]
                }
                return val
            },
            toTime(val) {
                if (val) {
                    let dateTime = val.split(' ')
                    let date = dateTime[1].split(':')
                    return date[0] + ':' + date[1]
                }
                return val
            }
        }
    }
</script>

<style scoped>
    .header {
        margin-bottom: 45px;
    }

    .el-collapse {
        margin-top: 20px;
    }

    .date-log, .time-log {
        margin-right: 10px;
    }

    .f-td-logs, .s-td-logs {
        display: inline-block;
        font-family: Gotham Pro;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #3a3d40;
    }

    .s-td-logs span, .s-td-logs a {
        margin-right: 10px;
    }

    .el-collapse-item-custom {
        height: 48px;
        line-height: 48px;
    }

    #all-logs /deep/ .el-date-editor .el-range-separator {
        width: 6%;
    }

    @media only screen and (max-width: 785px) {
        #all-logs /deep/ .el-date-editor--daterange.el-input__inner {
            width: 333px;
        }

        #all-logs /deep/ .el-date-editor .el-range-separator {
            width: 8%;
        }
    }

    @media only screen and (max-width: 767px) {

        #all-logs /deep/ .el-date-editor--daterange.el-input__inner {
            width: 368px;
            margin-top: 4px;
        }

        #all-logs /deep/ .el-date-editor .el-range-separator {
            width: 8%;
        }
    }

    @media only screen and (max-width: 430px) {

        #all-logs /deep/ .el-date-editor--daterange.el-input__inner {
            width: 363px;
        }

        #all-logs /deep/ .el-date-editor .el-range-separator {
            width: 8%;
        }

        .filter {
            display: block;
            margin-bottom: 4px;
        }

        .filter-date {
            height: 42px;
        }

        #all-logs /deep/ .el-collapse-item__header {
            min-height: 48px;
            height: auto;
        }
    }

    @media only screen and (max-width: 375px) {
        #all-logs /deep/ .el-date-editor--daterange.el-input__inner {
            width: 314px;
        }

        #all-logs /deep/ .el-date-editor .el-range-separator {
            width: 9%;
        }

        #all-logs /deep/ .el-range-input {
            width: 34%;
        }
    }

    @media only screen and (max-width: 320px) {
        #all-logs /deep/ .el-date-editor--daterange.el-input__inner {
            width: 278px;
        }
    }

</style>

<style>
    @media only screen and (max-width: 767px) {
        .el-picker-panel.el-date-range-picker.el-popper.has-sidebar {
            width: 100%;
            overflow: scroll;
        }
    }
</style>

