<template>
  <div>
    <el-container v-if="isModer">
      <router-view :key="$route.path"></router-view>
    </el-container>
    <el-container style="border: 1px solid #eee; min-height: 100vh; position: relative" v-else>
      <el-header style="height:unset; min-height: 81px" class="mobile-header" id="mobile">
        <dashboard-mobile></dashboard-mobile>
      </el-header>
      <el-container>
        <el-aside id="desktop" style="width: 244px">
          <dashboard></dashboard>
        </el-aside>
        <el-main style="background: #fff;" class="main">
          <router-view :key="$route.path"></router-view>
        </el-main>
      </el-container>
  </el-container>
  </div>
</template>


<script>
import Dashboard from './components/Dashboard'
import DashboardMobile from './components/DashboardMobile'

export default {
  name: 'Main',
  components: { Dashboard, DashboardMobile },
  computed: {
    isModer() {
      return !!this.$store.getters['auth/isModer'];
    }
  }
}
</script>

<style lang="scss" scoped>
  .upload-doc input[type="file"] {
    display: none;
  }
  .mobile-header {
    padding: 25px 20px 0 20px;
    background: #fff;  
  }
  .main {
    padding: 30px
  }
  #mobile {
    display: none;
  }
  @media screen and (max-width: 768px){
    #desktop {
      display: none;
    };
    #mobile {
      display: flex;
      align-items: center;
    };
    .main {
      padding: 20px
    }
  }
  
  .line {
    border-bottom: solid 1px #e2e2e2;
    padding-bottom: 50px;
  }

  .upload-doc input[type="file"] {
    display: none;
  }

  .el-main {
    background: #fff; 
    padding: 30px;
  }

  @media only screen and (max-width: 320px) {
    .el-main {
     padding: 29px 20px 47px 20px;
    }
    .line {
      border-bottom: none;
      padding-bottom: 0px;
    }
  }
</style>
