<template>
  <div id="admin-add">
    <div class="line">
      <ignet-header :title="title" has-back back-url="/contracts">
      </ignet-header>
    </div>
    <content>
      <form @submit.prevent="submit" class="admin-add__form">
      
        <div class="field">
         <input id="title" type="text" v-model="data.title" placeholder="title">
          <div class="error">
            {{ errors.title }}
          </div>
        </div>
      
        <div class="field">
          <el-select v-model="data.ptype" placeholder="Type">
            <el-option
              key="sale"
              label="sale"
              value="sale">
            </el-option>
            <el-option
              v-for="(item, key) in data.ptypes"
              :key="key"
              :label="item.kind"
              :value="item.kind">
            </el-option>
          </el-select>
          <div class="error">
            {{ errors.ptypes }}
          </div>
        </div>
      
        <div class="field">
          <div class="partner-params">
            <span v-for="(val, key) in partnerParams" :key="key" @click="addParam(key)">{{ val }}</span>
          </div>
          <el-input
            type="textarea"
            :autosize="{ minRows: 15}"
            id="contract-template"
            placeholder="Please input"
            v-model="data.template">
          </el-input>
          <div class="error">
            {{ errors.template }}
          </div>
        </div>
      
        <el-button native-type="submit" class="button">{{ btnVal }}</el-button>
      </form>

    </content>
  </div>
</template>

<script>
import IgnetHeader from '../../components/IgnetHeader'

export default {
  name: 'Contract',
  components: {
    IgnetHeader
  },
  data() {
    return {
      default: {
        id: '',
        title: '',
        template: '',
        ptype: 'sale'
      },
      partnerParams: {
        'date': 'Date',
        'name': 'Company name',
        'address': 'Address',
        'bank': 'Bank name',
        'edrpo': 'EDRPO',
        'swift': 'SWIFT',
        'mfo': 'MFO',
        'account_number': 'Account number',
        'contact': 'Contact',
        'base': 'Base',
        'signer': 'Signer',
        'email': 'Email',
        'website': 'Website',
        'status': 'Partner Status',
        'paylevel': 'Minimum amount for withdrawal',
      }
    }
  },
  created() {
    if (this.is_edit) {
      this.$store.dispatch('contracts/initCurrent')
    }
  },
  computed: {
    is_edit() {
      let id      = this.$route.params.id
      let is_edit = (id) ? true : false
      return is_edit
    },
    title() {
      return (this.is_edit) ? 'Edit contract' : 'Add new contract'
    },
    btnVal() {
      return (this.is_edit) ? 'Save' : 'Add new contract'
    },
    data() {
      if (this.is_edit) {
        const data = this.$store.getters['contracts/getCurrentData'] 
        return data ? data : {}
      } else {

        let data    = this.default;
        data.ptypes = this.$store.getters['contracts/getPtypes'] 
        
        return this.default
      }
    },
    errors() {
      const errors = this.$store.getters['contracts/getErrors'] 
      return errors ? errors : {}
    }
  },
  methods: {
    submit() {

      if (this.is_edit) {
        let id = this.$route.params.id
        this.$store.dispatch('contracts/update', {id, data: this.data})
      } else {
        this.$store.dispatch('contracts/add', this.data)
      }
    },
    addParam(value) {

      let txtarea = document.getElementById("contract-template");
      let start   = txtarea.selectionStart;
      let finish  = txtarea.selectionEnd;
      let allText = txtarea.value;
      let sel     = allText.substring(start, finish);

      let newText = allText.substring(0, start) + "%" + value + "%" + allText.substring(finish, allText.length);

      this.data.template = newText;
    }
  }
}
</script>

<style lang="scss" scoped>

  .admin-add__form {
    margin-top: 40px;
  }

  .sub-title {
    width: 83px;
    height: 12px;
    margin: 30px 0;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #3a3d40;
  }

  form .field {
    margin-bottom: 20px;
  }

  .field input {
    width: 280px;
    height: 44px;
    border-radius: 4px;
    background-color: #f9f9fa;
    border: none;
    text-indent: 21px;
    margin-bottom: 2px;
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #989898;
  }

  .partner-params {
    margin-bottom: 15px;
    span {
      background: #a7a7a7;
      border-radius: 5px;
      padding: 5px 10px;
      color: #fff;
      margin: 0 5px 5px 0;
      cursor: pointer;
      display: inline-block;
    }
    span:hover {
      background: #d6d1d1;
    }
  }

  .field .form-field__label {
    min-width: 115px;
    height: 11px;
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #3a3d40;
  }

  .field-radio-group {
    padding: 0;
    margin-bottom: 30px;
  }

  .field /deep/ .el-radio {
    margin-right: 43px;
  }

  .field label /deep/ .el-radio__label {
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #6b6b6b;
  }

  .changePass {
    margin-bottom: 15px;
  }

  .error {
    color: #e96c06;
  }

  .error span {
    display: block;
  }

  .button {
    border-radius: 4px;
    background-color: #e96c06;
    width: 209px;
    height: 42px;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
  }

  .el-radio {
    margin-left: 15px;
  }

  a {
    color: #e96c06;
  }

  .audits {
    margin-bottom: 40px;
  }

  .audits__sub_title {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 425px) {
    .field-radio-group {
      padding: 0;
      width: 280px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }

    .field /deep/ .el-radio {
      margin-right: 0px;
    }
  }

  @media only screen and (max-width: 320px) {
    .admin-add__form {
      margin-top: 20px;
    }
   
    .button {
      margin-top: 20px;
    }
  }
</style>
