<template>
  <div>
    <ignet-header title="Settings - contracts">
      <template slot="right-block">
        <el-button class="button-add" @click="toAdd">+ Add contract</el-button>
      </template>
    </ignet-header>

    <el-table 
    @row-click="rowClick" 
    :data="contracts">
      <el-table-column label="Title" sortable>
        <template slot-scope="scope">
          <div class="name-type">{{ scope.row.title }}</div>
        </template>
      </el-table-column>

      <el-table-column label="Type" sortable>
        <template slot-scope="scope">
          {{ scope.row.ptype }}
        </template>
      </el-table-column>

      <el-table-column label="Date created" sortable>
        <template slot-scope="scope">
          {{ scope.row.created_at }}
        </template>
      </el-table-column>

      <el-table-column label="Date updated" sortable>
        <template slot-scope="scope">
          {{ scope.row.updated_at }}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import IgnetHeader from '../../components/IgnetHeader' 

export default {
  name: 'Contracts',
  components: { IgnetHeader },
  data() {
    return {
      
    }
  },
  created() {
    this.$store.dispatch('contracts/initData')
  },
  computed: {
    contracts() {
      return this.$store.getters['contracts/getData'];
    }    
  },
  methods: {
    rowClick(row) {
      this.$router.push(`/contracts/edit/${row.id}`)
    },
     toAdd() {
      this.$router.push('/contracts/add/')
    },
  }
}
</script>

<style lang="scss" scoped>

  .header {
    margin-bottom: 45px;
  }
  #all-admins /deep/ .el-table th {
    font-family: Gotham Pro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #989898;
  }
  #all-admins /deep/ .el-table td {
    font-family: Gotham Pro;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
  } .button-add {
    width: 171px;
    height: 42px;
    border-radius: 4px;
    background-color: #e96c06;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
  }
</style>
