<template>
  <div>
    <ignet-header title="Settings - partners types"></ignet-header>
    <el-table @row-click="rowClick" :data="ptypes">
      <el-table-column label="Type">
        <template slot-scope="scope">
          <div class="name-type">{{ scope.row.kind }}</div>
        </template>
      </el-table-column>
      <el-table-column label="Cashflow">
        <template slot-scope="scope">
          {{ scope.row.cashflow }}
        </template>
      </el-table-column>
      <el-table-column label="Percent %">
        <template slot-scope="scope">
          {{ scope.row.percent }}%
        </template>
      </el-table-column>
      <el-table-column label="1 month">
        <template slot-scope="scope">
          {{ scope.row.m1 }}
        </template>
      </el-table-column>
      <el-table-column label="3 months">
        <template slot-scope="scope">
          {{ scope.row.m3 }}
        </template>
      </el-table-column>
      <el-table-column label="6 months">
        <template slot-scope="scope">
          {{ scope.row.m6 }}
        </template>
      </el-table-column>
      <el-table-column label="12 months">
        <template slot-scope="scope">
          {{ scope.row.m12 }}
        </template>
      </el-table-column>
      <el-table-column label="24 months">
        <template slot-scope="scope">
          {{ scope.row.m24 }}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import IgnetHeader from '../../components/IgnetHeader' 

export default {
  name: 'PartnerTypes',
  components: { IgnetHeader },
  data() {
    return {
      plans: ['1 month', '3 month', '3 month', '12 month', '6 month', '24 month']
    }
  },
  created() {
    this.$store.dispatch('ptypes/initData')
  },
  computed: {
    ptypes(){
      return this.$store.getters['ptypes/getData'];
    }    
  },
  methods: {
    rowClick(row) {
      this.$router.push(`/ptypes/${row.id}`)
    },
  }
}
</script>

<style lang="scss" scoped>
  .name-type{
    color: #e96c06;
  }
</style>
