<template>
 <div id="ptypes-edit">
    <div class="line">
      <ignet-header title="Edit type" has-back back-url="/ptypes">
      </ignet-header>
    </div>
    <content>
      <form @submit.prevent="submit" class="ptypes-edit__form">

        <div class="field">
          <div class="plabel">
            <label for="cashflow">Cashflow:</label>
          </div>
          <div>
            <el-select v-model="typeData.cashflow" placeholder="Cashflow">
              <el-option
                v-for="item in cashflowOptions"
                :key="item.value"
                :label="item.value"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="percent">Percent:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.percent" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="m1">Tariff for 1 month:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.m1" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="m1">Tariff for 3 months:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.m3" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="m1">Tariff for 6 months:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.m6" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="m1">Tariff for 12 months:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.m12" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>

        <div class="field">
          <div class="plabel">
            <label for="m1">Tariff for 24 months:</label>
          </div>
          <div>
            <el-input-number v-model="typeData.m24" controls-position="right" :min="1"></el-input-number>
          </div>
        </div>
       
        <el-button native-type="submit" class="button">Save</el-button>
      </form>
    </content>
  </div>
</template>

<script>
import IgnetHeader from '../../components/IgnetHeader'

export default {
  name: 'PartnerType',
  components: {
    IgnetHeader
  },
  data() {
    return {
      cashflowOptions: [
        {value: 'in'},
        {value: 'out'}
      ]
    }
  },
  created() {
    this.$store.dispatch('ptypes/initCurrent')
  },
  computed: {
    typeData() {
      let current = this.$store.getters['ptypes/getCurrent']
      return  current ? current : {}
    },
  },
  methods: {
    submit() {

      let id = this.$route.params.id
      this.$store.dispatch('ptypes/update', {id, data: this.typeData})
    }
  }
}
</script>

<style lang="scss" scoped>

  .ptypes-edit__form {
    margin-top: 40px;
  }

  .line {
    height: 75px;
    border-bottom: solid 1px #e2e2e2;
  }

  .field {
    margin-bottom: 20px;
  }

  .field label {
    min-width: 115px;
    height: 11px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #3a3d40;
  }

  .button {
    border-radius: 4px;
    background-color: #e96c06;
    width: 209px;
    height: 42px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
  }

</style>
